Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/late-cameras-speak.md
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: lint
  frontend/legacy/Flow/schema.ts
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

feat: add splitter to site layout
  backend/modelscope_studio/components/antd/affix/__init__.py
  backend/modelscope_studio/components/antd/carousel/__init__.py
  backend/modelscope_studio/components/antd/splitter/panel/__init__.py
  docs/app.py
  docs/components/antd/affix/README-zh_CN.md
  docs/components/antd/affix/README.md
  docs/components/antd/affix/app.py
  docs/components/antd/affix/demos/basic.py
  docs/components/antd/affix/demos/container_to_scroll.py
  docs/components/antd/carousel/README-zh_CN.md
  docs/components/antd/carousel/README.md
  docs/components/antd/carousel/app.py
  docs/components/antd/carousel/demos/basic.py
  docs/helper/Site.py
  frontend/antd/carousel/carousel.tsx
  frontend/antd/splitter/splitter.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: gbk code error
  CHANGELOG.md
  backend/modelscope_studio/components/antd/float_button/back_top/__init__.py
  backend/modelscope_studio/components/antd/typography/text/__init__.py
  docs/components/legacy/Markdown/demos/custom-tag.py
Due: pnpm run format, pnpm run lint:py

fix: gbk error
  .changeset/pink-chefs-impress.md
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/components/antd/grid/col/__init__.py
  backend/modelscope_studio/components/antd/input/otp/__init__.py
  backend/modelscope_studio/utils/dev/component.py
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pyproject.toml
  scripts/check_encoding.py
Due: pnpm run format, pnpm run lint:py

docs: update
  backend/modelscope_studio/components/antd/collapse/__init__.py
  backend/modelscope_studio/components/antd/descriptions/__init__.py
  backend/modelscope_studio/components/antd/descriptions/item/__init__.py
  backend/modelscope_studio/components/antd/empty/__init__.py
  backend/modelscope_studio/components/antd/image/__init__.py
  backend/modelscope_studio/components/antd/image/preview_group/__init__.py
  docs/app.py
  docs/components/antd/collapse/README-zh_CN.md
  docs/components/antd/collapse/README.md
  docs/components/antd/collapse/app.py
  docs/components/antd/collapse/demos/basic.py
  docs/components/antd/descriptions/README-zh_CN.md
  docs/components/antd/descriptions/README.md
  docs/components/antd/descriptions/app.py
  docs/components/antd/descriptions/demos/basic.py
  docs/components/antd/empty/README-zh_CN.md
  docs/components/antd/empty/README.md
  docs/components/antd/empty/app.py
  docs/components/antd/empty/demos/basic.py
  docs/components/antd/image/README-zh_CN.md
  docs/components/antd/image/README.md
  docs/components/antd/image/app.py
  docs/components/antd/image/demos/basic.py
  docs/components/antd/image/resources/modelscope.png
  docs/components/antd/pagination/demos/basic.py
  docs/helper/Site.py
  frontend/antd/collapse/item/Index.svelte
  frontend/antd/empty/empty.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update
  backend/modelscope_studio/components/antd/tag/__init__.py
  backend/modelscope_studio/components/antd/tag/checkable_tag/__init__.py
  backend/modelscope_studio/components/antd/tooltip/__init__.py
  backend/modelscope_studio/components/antd/tree/directory_tree/__init__.py
  backend/modelscope_studio/components/base/div/__init__.py
  backend/modelscope_studio/components/base/span/__init__.py
  backend/modelscope_studio/components/base/text/__init__.py
  docs/components/antd/alert/README-zh_CN.md
  docs/components/antd/alert/README.md
  docs/components/antd/alert/app.py
  docs/components/antd/alert/demos/basic.py
  docs/components/antd/table/demos/pagination.py
  docs/components/antd/tabs/README-zh_CN.md
  docs/components/antd/tabs/README.md
  docs/components/antd/tabs/app.py
  docs/components/antd/tabs/demos/basic.py
  docs/components/antd/tabs/demos/position.py
  docs/components/antd/tag/README-zh_CN.md
  docs/components/antd/tag/README.md
  docs/components/antd/tag/app.py
  docs/components/antd/tag/demos/basic.py
  docs/components/antd/tag/demos/checkable_tag.py
  docs/components/antd/timeline/README-zh_CN.md
  docs/components/antd/timeline/README.md
  docs/components/antd/timeline/app.py
  docs/components/antd/timeline/demos/basic.py
  docs/components/antd/tooltip/README-zh_CN.md
  docs/components/antd/tooltip/README.md
  docs/components/antd/tooltip/app.py
  docs/components/antd/tooltip/demos/basic.py
  docs/components/antd/tree/README-zh_CN.md
  docs/components/antd/tree/README.md
  docs/components/antd/tree/app.py
  docs/components/antd/tree/demos/basic.py
  docs/components/antd/tree/demos/directory_tree.py
  frontend/antd/segmented/segmented.tsx
  frontend/antd/tooltip/Index.svelte
  frontend/svelte-preprocess-react/react-slot.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: ModalStatic component
  backend/modelscope_studio/components/antd/__init__.py
  backend/modelscope_studio/components/antd/components.py
  backend/modelscope_studio/components/antd/message/__init__.py
  backend/modelscope_studio/components/antd/modal/static/__init__.py
  backend/modelscope_studio/components/antd/notification/__init__.py
  docs/app.py
  docs/components/antd/drawer/README-zh_CN.md
  docs/components/antd/drawer/README.md
  docs/components/antd/drawer/app.py
  docs/components/antd/drawer/demos/basic.py
  docs/components/antd/drawer/demos/extra_actions.py
  docs/components/antd/message/README-zh_CN.md
  docs/components/antd/message/README.md
  docs/components/antd/message/app.py
  docs/components/antd/message/demos/basic.py
  docs/components/antd/modal/README-zh_CN.md
  docs/components/antd/modal/README.md
  docs/components/antd/modal/app.py
  docs/components/antd/modal/demos/basic.py
  docs/components/antd/modal/demos/custom_footer.py
  docs/components/antd/modal/demos/static.py
  docs/components/antd/notification/README-zh_CN.md
  docs/components/antd/notification/README.md
  docs/components/antd/notification/app.py
  docs/components/antd/notification/demos/basic.py
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/message/Index.svelte
  frontend/antd/message/message.tsx
  frontend/antd/modal/modal.tsx
  frontend/antd/modal/static/Index.svelte
  frontend/antd/modal/static/gradio.config.js
  frontend/antd/modal/static/modal.static.tsx
  frontend/antd/modal/static/package.json
  frontend/antd/notification/notification.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: bugfix of remaining components
  .changeset/cuddly-eels-occur.md
  backend/modelscope_studio/components/antd/popconfirm/__init__.py
  backend/modelscope_studio/components/antd/skeleton/input/__init__.py
  docs/components/antd/popconfirm/README-zh_CN.md
  docs/components/antd/popconfirm/README.md
  docs/components/antd/popconfirm/app.py
  docs/components/antd/popconfirm/demos/basic.py
  docs/components/antd/progress/README-zh_CN.md
  docs/components/antd/progress/README.md
  docs/components/antd/progress/app.py
  docs/components/antd/progress/demos/basic.py
  docs/components/antd/result/README-zh_CN.md
  docs/components/antd/result/README.md
  docs/components/antd/result/app.py
  docs/components/antd/result/demos/basic.py
  docs/components/antd/skeleton/README-zh_CN.md
  docs/components/antd/skeleton/README.md
  docs/components/antd/skeleton/app.py
  docs/components/antd/skeleton/demos/basic.py
  docs/components/antd/spin/README-zh_CN.md
  docs/components/antd/spin/README.md
  docs/components/antd/spin/app.py
  docs/components/antd/spin/demos/basic.py
  docs/components/antd/watermark/README-zh_CN.md
  docs/components/antd/watermark/README.md
  docs/components/antd/watermark/app.py
  docs/components/antd/watermark/demos/basic.py
  docs/components/antd/watermark/demos/modal_or_drawer.py
  frontend/antd/spin/Index.svelte
  frontend/antd/spin/spin.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/pre.json
  .github/workflows/publish.yaml
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: fix
  docs/app.py
Due: pnpm run lint:py

docs: update README
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
Due: pnpm run format

fix: lint
  CHANGELOG.md
  README-zh_CN.md
  README.md
  config/changelog/CHANGELOG.md
  config/changelog/src/index.ts
  config/lint-config/CHANGELOG.md
  docs/README-zh_CN.md
  docs/README.md
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/base/CHANGELOG.md
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/compiled/CHANGELOG.md
Due: pnpm run format, pnpm run lint:js

docs: update
  docs/README-zh_CN.md
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: children render of Result
  .github/workflows/publish.yaml
  frontend/antd/result/result.tsx
  frontend/base/application/Application.svelte
Due: pnpm run format, pnpm run lint:js

fix: ci
  .github/workflows/publish.yaml
Due: pnpm run format

fix: bugfix
  .changeset/chilled-snails-matter.md
Due: pnpm run format

chore: update beta versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: update README
  README-zh_CN.md
  README.md
  resources/quickstart.png
  resources/sample.gif
  resources/site.png
Due: pnpm run format

feat: add assertions to the Application component
  backend/modelscope_studio/components/base/application/__init__.py
  backend/modelscope_studio/components/legacy/Chatbot/__init__.py
  backend/modelscope_studio/components/legacy/Flow/__init__.py
  backend/modelscope_studio/components/legacy/Lifecycle/__init__.py
  backend/modelscope_studio/components/legacy/Markdown/__init__.py
  backend/modelscope_studio/components/legacy/MultimodalInput/__init__.py
  backend/modelscope_studio/components/legacy/WaterfallGallery/__init__.py
  backend/modelscope_studio/utils/dev/__init__.py
  backend/modelscope_studio/utils/dev/app_context.py
  backend/modelscope_studio/utils/dev/component.py
Due: pnpm run lint:py

chore: add changeset
  .changeset/blue-chicken-sin.md
Due: pnpm run format

chore: message
  backend/modelscope_studio/utils/dev/app_context.py
Due: pnpm run lint:py

feat: add assertions to the Application component (#39)
  .changeset/blue-chicken-sin.md
  backend/modelscope_studio/components/base/application/__init__.py
  backend/modelscope_studio/components/legacy/Chatbot/__init__.py
  backend/modelscope_studio/components/legacy/Flow/__init__.py
  backend/modelscope_studio/components/legacy/Lifecycle/__init__.py
  backend/modelscope_studio/components/legacy/Markdown/__init__.py
  backend/modelscope_studio/components/legacy/MultimodalInput/__init__.py
  backend/modelscope_studio/components/legacy/WaterfallGallery/__init__.py
  backend/modelscope_studio/utils/dev/__init__.py
  backend/modelscope_studio/utils/dev/app_context.py
  backend/modelscope_studio/utils/dev/component.py
Due: pnpm run format, pnpm run lint:py

feat: integrate antdx
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/antd/affix/__init__.py
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/bubble/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/item/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/role/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/utils/dev/resolve_frontend_dir.py
  frontend/antdx/bubble/Index.svelte
  frontend/antdx/bubble/bubble.tsx
  frontend/antdx/bubble/gradio.config.js
  frontend/antdx/bubble/list/Index.svelte
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/context.ts
  frontend/antdx/bubble/list/gradio.config.js
  frontend/antdx/bubble/list/item/Index.svelte
  frontend/antdx/bubble/list/item/Item.svelte
  frontend/antdx/bubble/list/item/gradio.config.js
  frontend/antdx/bubble/list/item/package.json
  frontend/antdx/bubble/list/package.json
  frontend/antdx/bubble/list/role/Index.svelte
  frontend/antdx/bubble/list/role/Role.svelte
  frontend/antdx/bubble/list/role/gradio.config.js
  frontend/antdx/bubble/list/role/package.json
  frontend/antdx/bubble/package.json
  frontend/package.json
  frontend/plugin.js
  frontend/svelte-preprocess-react/inject.ts
  frontend/svelte-preprocess-react/react-slot.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: layout compatibility
  backend/modelscope_studio/components/base/div/__init__.py
  backend/modelscope_studio/components/base/span/__init__.py
  backend/modelscope_studio/components/base/text/__init__.py
  backend/modelscope_studio/utils/dev/app_context.py
  frontend/antd/button/Index.svelte
  frontend/antd/button/button.tsx
  frontend/antd/divider/divider.tsx
  frontend/antd/dropdown/button/Index.svelte
  frontend/antd/dropdown/button/dropdown.button.tsx
  frontend/antd/table/table.tsx
  frontend/antd/tag/Index.svelte
  frontend/antd/tag/checkable-tag/Index.svelte
  frontend/antd/tag/checkable-tag/tag.checkable-tag.tsx
  frontend/antd/tag/tag.tsx
  frontend/antd/typography/typography.base.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update legacy demo
  docs/components/legacy/Chatbot/demos/accordion.py
  docs/components/legacy/Chatbot/demos/basic.py
  docs/components/legacy/Chatbot/demos/chart.py
  docs/components/legacy/Chatbot/demos/message_config.py
  docs/components/legacy/Chatbot/demos/multi_bots.py
  docs/components/legacy/Chatbot/demos/multimodal.py
  docs/components/legacy/Chatbot/demos/select-box.py
  docs/components/legacy/Flow/demos/basic.py
  docs/components/legacy/Flow/demos/component_options.py
  docs/components/legacy/Flow/demos/custom_node_type.py
  docs/components/legacy/Lifecycle/demos/basic.py
  docs/components/legacy/Lifecycle/demos/language_adaptation.py
  docs/components/legacy/Lifecycle/demos/theme_adaptation.py
  docs/components/legacy/Markdown/demos/accordion.py
  docs/components/legacy/Markdown/demos/basic.py
  docs/components/legacy/Markdown/demos/chart.py
  docs/components/legacy/Markdown/demos/custom-tag.py
  docs/components/legacy/Markdown/demos/custom-tag2.py
  docs/components/legacy/Markdown/demos/custom-tag3.py
  docs/components/legacy/Markdown/demos/custom-tag4.py
  docs/components/legacy/Markdown/demos/custom_tags/accordion/accordion-title.py
  docs/components/legacy/Markdown/demos/custom_tags/accordion/basic.py
  docs/components/legacy/Markdown/demos/custom_tags/chart/basic.py
  docs/components/legacy/Markdown/demos/custom_tags/select-box/basic.py
  docs/components/legacy/Markdown/demos/custom_tags/select-box/card_shape.py
  docs/components/legacy/Markdown/demos/custom_tags/select-box/card_shape_width_auto.py
  docs/components/legacy/Markdown/demos/custom_tags/select-box/python_events.py
  docs/components/legacy/Markdown/demos/multimodal.py
  docs/components/legacy/Markdown/demos/select-box.py
  docs/components/legacy/MultimodalInput/demos/basic.py
  docs/components/legacy/MultimodalInput/demos/config_buttons.py
  docs/components/legacy/MultimodalInput/demos/upload_sources.py
  docs/components/legacy/MultimodalInput/demos/with_chatbot.py
  docs/components/legacy/WaterfallGallery/demos/basic.py
  docs/components/legacy/WaterfallGallery/demos/like_click_feedback.py
  docs/components/legacy/WaterfallGallery/demos/load_more.py
  docs/components/legacy/WaterfallGallery/demos/responsive_columns.py
Due: pnpm run lint:py

fix: layout compatibility
  .changeset/soft-goats-thank.md
Due: pnpm run format

chore: update versions
  .changeset/blue-chicken-sin.md
  .changeset/soft-goats-thank.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/changelog/src/fix-changelog.ts
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: params render for each component
  frontend/base/slot/Index.svelte
  frontend/svelte-preprocess-react/component.ts
  frontend/svelte-preprocess-react/context.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/svelte-preprocess-react/slot.ts
  frontend/utils/renderItems.tsx
  frontend/utils/renderParamsSlot.tsx
Due: pnpm run format, pnpm run lint:js

Path conditions:
  pnpm run lint:style: any of: *.{less,css}
  pnpm run format: ((any of: *.{less,css}) or (any of: *.{js,jsx,ts,tsx,svelte})) or (any of: *.{md,yaml,yml,json,html})
  pnpm run lint:js: any of: *.{js,jsx,ts,tsx,svelte}
  pnpm run lint:py: any of: *.py
