Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

fix(chatbot): flushing animation with empty content
  backend/modelscope_studio/components/Chatbot/__init__.py
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Flow/package.json
  frontend/compiled/src/Markdown/index.less
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:py

chore: remove flow pkg
  frontend/Flow/package.json
Due: pnpm run format

fix: tag parsing of custom components
  docs/components/Chatbot/demos/accordion.py
  frontend/compiled/src/Markdown/components/CustomComponent.tsx
  frontend/compiled/src/Markdown/components/custom/Accordion.tsx
  frontend/compiled/src/Markdown/components/custom/SelectBox.tsx
  frontend/compiled/src/Markdown/hooks/useCustomProps.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: integrate charts in markdown
  backend/modelscope_studio/components/Chatbot/__init__.py
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/compiled/package.json
  frontend/compiled/src/FileView/Pdf.tsx
  frontend/compiled/src/Markdown/components/custom/Chart.tsx
  frontend/compiled/src/Markdown/context.ts
  frontend/compiled/src/Markdown/index.less
  frontend/compiled/src/Markdown/index.tsx
  frontend/compiled/src/Markdown/react-markdown.d.ts
  frontend/compiled/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: chart in markdown
  README-ja_JP.md
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Markdown/custom_tags/chart-zh_CN.md
  docs/components/Markdown/custom_tags/chart.md
  docs/components/Markdown/demos/custom_tags/chart/basic.py
Due: pnpm run format, pnpm run lint:py

docs: update chatbot & markdown docs
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Chatbot/demos/chart.py
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
  docs/components/Markdown/demos/chart.py
Due: pnpm run format, pnpm run lint:py

docs: update Markdown readme
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
Due: pnpm run format

feat: add chart tag in markdown (#10)
  README-ja_JP.md
  README-zh_CN.md
  README.md
  backend/modelscope_studio/components/Chatbot/__init__.py
  docs/README-zh_CN.md
  docs/README.md
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Chatbot/demos/chart.py
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
  docs/components/Markdown/custom_tags/chart-zh_CN.md
  docs/components/Markdown/custom_tags/chart.md
  docs/components/Markdown/demos/chart.py
  docs/components/Markdown/demos/custom_tags/chart/basic.py
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/compiled/package.json
  frontend/compiled/src/FileView/Pdf.tsx
  frontend/compiled/src/Markdown/components/custom/Chart.tsx
  frontend/compiled/src/Markdown/context.ts
  frontend/compiled/src/Markdown/index.less
  frontend/compiled/src/Markdown/index.tsx
  frontend/compiled/src/Markdown/react-markdown.d.ts
  frontend/compiled/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update version
  config/changelog/package.json
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  package.json
  pyproject.toml
Due: pnpm run format

docs: update docs
  docs/README-zh_CN.md
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
Due: pnpm run format

fix: docs
  docs/components/Chatbot/README.md
  docs/components/Markdown/README.md
Due: pnpm run format

fix: gbk encoding
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  pyproject.toml
Due: pnpm run lint:py

fix: gbk encoding (#12)
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  pyproject.toml
Due: pnpm run lint:py

fix: lint
  config/lint-config/package.json
  frontend/compiled/package.json
  pnpm-lock.yaml
Due: pnpm run format

feat: sidebar collapse
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/flow-components/Sidebar.tsx
  frontend/compiled/src/Flow/index.less
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/utils.ts
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

feat: auto layout
  frontend/compiled/src/Flow/flow-components/Controls.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/type.ts
  frontend/compiled/src/Flow/utils.ts
Due: pnpm run format, pnpm run lint:js

feat: gradio data process
  backend/modelscope_studio/components/Flow/__init__.py
Due: pnpm run lint:py

fix: process schema
  backend/modelscope_studio/components/Flow/__init__.py
Due: pnpm run lint:py

fix: schema
  frontend/Chatbot/Index.svelte
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Chatbot/shared/FlushingMarkdown.svelte
  frontend/Flow/Index.svelte
  frontend/Flow/shared/Flow.svelte
  frontend/Flow/shared/utils.ts
  frontend/compiled/src/Flow/FlowContext.ts
  frontend/compiled/src/Flow/components/CustomComponent.tsx
  frontend/compiled/src/Flow/flow-components/Controls.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
  frontend/compiled/src/Markdown/components/CustomComponent.tsx
  frontend/compiled/src/shared/hooks/useCustomComponent.ts
Due: pnpm run format, pnpm run lint:js

fix: port handleId & auto layout
  frontend/Flow/Index.svelte
  frontend/Flow/shared/utils.ts
  frontend/compiled/src/Flow/flow-components/Controls.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/index.less
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
  frontend/compiled/src/Flow/utils.ts
  frontend/compiled/src/shared/hooks/useCustomComponent.ts
  frontend/compiled/src/utils.ts
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

feat: flow data <=> gradio data
  backend/modelscope_studio/components/Flow/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/components/Chatbot/README.md
  docs/components/Markdown/README.md
  frontend/Flow/Index.svelte
  frontend/Flow/shared/Flow.svelte
  frontend/Flow/shared/utils.ts
  frontend/compiled/package.json
  frontend/compiled/src/ComponentConfigProvider.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/flow-components/Sidebar.tsx
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
  frontend/compiled/src/Flow/utils.ts
  frontend/compiled/src/utils.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: props
  backend/modelscope_studio/components/Flow/__init__.py
  docs/components/Chatbot/demos/chart.py
  frontend/Flow/Index.svelte
  frontend/Flow/shared/Flow.svelte
  frontend/compiled/src/Flow/components/FormListItemWrapper.tsx
  frontend/compiled/src/Flow/index.less
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/tsconfig.build.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: typing
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Markdown/README.md
  docs/components/MultimodalInput/README.md
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

chore: code style
  config/changelog/tsconfig.json
  frontend/compiled/tsconfig.json
  tsconfig.json
Due: pnpm run format

fix: adapted for python 3.8 (#18)
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  config/changelog/package.json
  config/changelog/tsconfig.json
  config/lint-config/package.json
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Markdown/README.md
  docs/components/MultimodalInput/README.md
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/tsconfig.json
  package.json
  pyproject.toml
  tsconfig.json
Due: pnpm run format, pnpm run lint:py

feat: python type
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Flow/__init__.py
  backend/modelscope_studio/components/Flow/edge.py
  backend/modelscope_studio/components/Flow/node.py
  backend/modelscope_studio/components/Flow/node_schema.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/utils/__init__.py
  backend/modelscope_studio/utils/process_links.py
  docs/components/Docs.py
  docs/components/parse_markdown.py
  frontend/Flow/Index.svelte
  frontend/Flow/package.json
  frontend/Flow/shared/Flow.svelte
  frontend/MultimodalInput/Index.svelte
  frontend/compiled/src/ComponentConfigProvider.tsx
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: prop effect
  config/changelog/package.json
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  package.json
  pyproject.toml
Due: pnpm run format

fix: schema cache
  frontend/Flow/package.json
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/index.ts
  frontend/compiled/src/polyfills.ts
  frontend/compiled/tsconfig.build.json
  frontend/compiled/tsconfig.json
  frontend/compiled/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

feat: update the timing of onMount call and new onUpdate lifecycle of custom component
  .changeset/modern-chairs-wait.md
  docs/components/Markdown/demos/custom-tag2.py
  docs/components/resources/custom_components/custom_select.js
  frontend/compiled/src/shared/hooks/useCustomComponent.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add Flow component
  .changeset/pink-news-drum.md
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  backend/modelscope_studio/components/Flow/__init__.py
  backend/modelscope_studio/utils/process_links.py
  docs/app.py
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Docs.py
  docs/components/Flow/README-zh_CN.md
  docs/components/Flow/README.md
  docs/components/Flow/app.py
  docs/components/Flow/define_schema-zh_CN.md
  docs/components/Flow/define_schema.md
  docs/components/Flow/demos/basic.py
  docs/components/Flow/demos/component_options.py
  docs/components/Flow/demos/custom_node_type.py
  docs/components/Flow/schema/agents_schema.json
  docs/components/Flow/schema/agents_schema.py
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
  docs/components/parse_markdown.py
  frontend/Flow/Index.svelte
  frontend/Flow/package.json
  frontend/Flow/schema.json
  frontend/Flow/schema.ts
  frontend/compiled/src/Flow/FlowContext.ts
  frontend/compiled/src/Flow/components/CustomComponent.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/flow-components/Sidebar.tsx
  frontend/compiled/src/Flow/index.less
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: pyproject
  pyproject.toml
Due: none

chore: update versions
  .changeset/modern-chairs-wait.md
  .changeset/pink-news-drum.md
  .github/workflows/publish.yaml
  CHANGELOG.md
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  package.json
  pyproject.toml
Due: pnpm run format

fix: unique id to each flow
  .changeset/gentle-cars-give.md
  .github/workflows/publish.yaml
  backend/modelscope_studio/components/Flow/__init__.py
  docs/components/Flow/demos/component_options.py
  frontend/compiled/src/Flow/index.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/gentle-cars-give.md
  CHANGELOG.md
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  package.json
  pyproject.toml
Due: pnpm run format

chore: update README
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
Due: pnpm run format

feat: add mgr.load for modelScope studio repo
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  backend/modelscope_studio/components/__init__.py
  backend/modelscope_studio/external.py
  backend/modelscope_studio/utils/__init__.py
  backend/modelscope_studio/version.py
  config/changelog/src/fix-changelog.ts
  frontend/Chatbot/Index.svelte
  frontend/Markdown/Index.svelte
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/shared/FilePreview.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update deps
  README-ja_JP.md
  README-zh_CN.md
  README.md
  config/changelog/package.json
  config/lint-config/package.json
  docs/README-zh_CN.md
  docs/README.md
  docs/components/Flow/demos/basic.py
  docs/components/Flow/demos/component_options.py
  frontend/Chatbot/Index.svelte
  frontend/Chatbot/package.json
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Flow/Index.svelte
  frontend/Flow/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/MultimodalInput/shared/AudioRecorder.svelte
  frontend/MultimodalInput/shared/FilePreview.svelte
  frontend/WaterfallGallery/package.json
  frontend/WaterfallGallery/shared/Gallery.svelte
  frontend/compiled/package.json
  frontend/shared/package.json
  frontend/shared/src/index.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: docs
  backend/modelscope_studio/external.py
Due: pnpm run lint:py
