Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx,svelte}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

docs: add usage recommendations for `ms.AutoLoading` to the docs
  .changeset/metal-hornets-wink.md
  README-zh_CN.md
  README.md
  docs/components/antd/overview/README-zh_CN.md
  docs/components/antd/overview/README.md
  docs/components/antd/overview/demos/quick_start.py
  docs/components/antdx/overview/README-zh_CN.md
  docs/components/antdx/overview/README.md
  docs/components/antdx/overview/demos/quick_start.py
  docs/demos/example.py
Due: pnpm run format, pnpm run lint:py

docs: add faq docs
  .changeset/tender-maps-kiss.md
  README-zh_CN.md
  README.md
  docs/FAQ-zh_CN.md
  docs/FAQ.md
  docs/README-zh_CN.md
  docs/README.md
  docs/app.py
  docs/demos/example.py
  docs/helper/Docs.py
Due: pnpm run format, pnpm run lint:py

docs: add faq docs (#80)
  .changeset/tender-maps-kiss.md
  README-zh_CN.md
  README.md
  docs/FAQ-zh_CN.md
  docs/FAQ.md
  docs/README-zh_CN.md
  docs/README.md
  docs/app.py
  docs/demos/example.py
  docs/helper/Docs.py
Due: pnpm run format, pnpm run lint:py

fix: ensure the load_data event returns a Proimse
  .changeset/yellow-tables-dance.md
  frontend/antd/tree-select/tree-select.tsx
  frontend/antd/tree/tree.tsx
Due: pnpm run format, pnpm run lint:js

chore: update deps
  .changeset/hip-apes-bathe.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/legacy/Flow/Awaited.svelte
  frontend/legacy/Markdown/Awaited.svelte
  frontend/legacy/Markdown/shared/Markdown.svelte
  frontend/legacy/MultimodalInput/shared/Input.svelte
  frontend/legacy/WaterfallGallery/Index.svelte
  frontend/legacy/WaterfallGallery/shared/Gallery.svelte
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

fix: changeset
  .changeset/yellow-tables-dance.md
Due: pnpm run format

fix: ensure the same key and value in the tree data
  .changeset/fair-pianos-rule.md
  frontend/antd/tree-select/tree-select.tsx
  frontend/antd/tree/tree.tsx
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js

fix: ensure the load_data event returns a Promise (#82)
  .changeset/fair-pianos-rule.md
  .changeset/hip-apes-bathe.md
  .changeset/yellow-tables-dance.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/tree-select/tree-select.tsx
  frontend/antd/tree/tree.tsx
  frontend/legacy/Flow/Awaited.svelte
  frontend/legacy/Markdown/Awaited.svelte
  frontend/legacy/Markdown/shared/Markdown.svelte
  frontend/legacy/MultimodalInput/shared/Input.svelte
  frontend/legacy/WaterfallGallery/Index.svelte
  frontend/legacy/WaterfallGallery/shared/Gallery.svelte
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/utils/renderItems.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/fair-pianos-rule.md
  .changeset/hip-apes-bathe.md
  .changeset/metal-hornets-wink.md
  .changeset/tender-maps-kiss.md
  .changeset/yellow-tables-dance.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: typo
  docs/FAQ-zh_CN.md
Due: pnpm run format

feat: update
  .changeset/beige-bugs-bake.md
  .changeset/famous-horses-open.md
  .changeset/slick-pandas-sit.md
  backend/modelscope_studio/components/antdx/bubble/list/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/layout_templates/coder_artifacts/demos/app.py
  frontend/antd/splitter/splitter.tsx
  frontend/fixtures.d.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/chatbot/chatbot-footer.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: code style
  frontend/pro/chatbot/chatbot-footer.tsx
Due: pnpm run format, pnpm run lint:js

fix: disabled status of action buttons & improve load times of frontend (#83)
  .changeset/beige-bugs-bake.md
  .changeset/famous-horses-open.md
  .changeset/slick-pandas-sit.md
  backend/modelscope_studio/components/antdx/bubble/list/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/layout_templates/coder_artifacts/demos/app.py
  frontend/antd/splitter/splitter.tsx
  frontend/fixtures.d.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/chatbot/chatbot-footer.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/beige-bugs-bake.md
  .changeset/famous-horses-open.md
  .changeset/slick-pandas-sit.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: support `read_only` property for `Input`
  .changeset/fancy-swans-help.md
  backend/modelscope_studio/components/antd/input/__init__.py
  backend/modelscope_studio/components/antd/input/otp/__init__.py
  backend/modelscope_studio/components/antd/input/password/__init__.py
  backend/modelscope_studio/components/antd/input/search/__init__.py
  backend/modelscope_studio/components/antd/input/textarea/__init__.py
  backend/modelscope_studio/components/antd/progress/__init__.py
Due: pnpm run format, pnpm run lint:py

chore: upgrade to antd 5.27.0, antdx 1.6.0
  .changeset/gentle-rocks-tap.md
  .vscode/settings.json
  backend/modelscope_studio/components/antd/card/__init__.py
  backend/modelscope_studio/components/antd/table/row_selection/__init__.py
  backend/modelscope_studio/components/antd/tag/checkable_tag/__init__.py
  backend/modelscope_studio/components/antdx/attachments/file_card/__init__.py
  backend/modelscope_studio/utils/dev/resolve_frontend_dir.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/card/card.tsx
  frontend/antd/table/row-selection/Index.svelte
  frontend/antd/tag/checkable-tag/tag.checkable-tag.tsx
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/globals/components/markdown/prism.less
  frontend/legacy/MultimodalInput/shared/AudioRecorder.svelte
  frontend/legacy/MultimodalInput/shared/utils.ts
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/multimodal-input/utils.ts
  package.json
  pnpm-lock.yaml
  svelte-tsconfig.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: support `read_only property` for Input & upgrade to `antd 5.27.0`, `antdx 1.6.0` (#87)
  .changeset/fancy-swans-help.md
  .changeset/gentle-rocks-tap.md
  .vscode/settings.json
  backend/modelscope_studio/components/antd/card/__init__.py
  backend/modelscope_studio/components/antd/input/__init__.py
  backend/modelscope_studio/components/antd/input/otp/__init__.py
  backend/modelscope_studio/components/antd/input/password/__init__.py
  backend/modelscope_studio/components/antd/input/search/__init__.py
  backend/modelscope_studio/components/antd/input/textarea/__init__.py
  backend/modelscope_studio/components/antd/progress/__init__.py
  backend/modelscope_studio/components/antd/table/row_selection/__init__.py
  backend/modelscope_studio/components/antd/tag/checkable_tag/__init__.py
  backend/modelscope_studio/components/antdx/attachments/file_card/__init__.py
  backend/modelscope_studio/utils/dev/resolve_frontend_dir.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/card/card.tsx
  frontend/antd/table/row-selection/Index.svelte
  frontend/antd/tag/checkable-tag/tag.checkable-tag.tsx
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/globals/components/markdown/prism.less
  frontend/legacy/MultimodalInput/shared/AudioRecorder.svelte
  frontend/legacy/MultimodalInput/shared/utils.ts
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/multimodal-input/utils.ts
  package.json
  pnpm-lock.yaml
  svelte-tsconfig.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: data changes example for Pagination
  docs/components/antd/pagination/README-zh_CN.md
  docs/components/antd/pagination/README.md
  docs/components/antd/pagination/demos/data_changes.py
Due: pnpm run format, pnpm run lint:py

fix: slot items resolver of Checkbox
  .changeset/brave-keys-hear.md
  frontend/antd/breadcrumb/breadcrumb.tsx
  frontend/antd/checkbox/group/checkbox.group.tsx
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/brave-keys-hear.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: add copilot demo for chatbot
  .changeset/pink-carrots-hammer.md
  backend/modelscope_studio/components/antd/card/__init__.py
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/copilot.py
  docs/layout_templates/coder_artifacts/demos/app.py
Due: pnpm run format, pnpm run lint:py

docs: add copilot demo for chatbot (#92)
  .changeset/pink-carrots-hammer.md
  backend/modelscope_studio/components/antd/card/__init__.py
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/copilot.py
  docs/layout_templates/coder_artifacts/demos/app.py
Due: pnpm run format, pnpm run lint:py

fix: bugfix in dev mode
  .changeset/twenty-moles-slide.md
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/__init__.py
  docs/app.py
  docs/helper/Site.py
Due: pnpm run format, pnpm run lint:py

fix: bugfix in dev mode (#93)
  .changeset/twenty-moles-slide.md
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/__init__.py
  docs/app.py
  docs/helper/Site.py
Due: pnpm run format, pnpm run lint:py

feat: support automatic i18n detection for ConfigProvider
  .changeset/warm-months-hide.md
  backend/modelscope_studio/utils/dev/component.py
  frontend/antd/config-provider/config-provider.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add the `form_action` property to manually trigger form actions
  .changeset/shiny-cats-crash.md
  backend/modelscope_studio/components/antd/form/__init__.py
  docs/components/antd/form/README-zh_CN.md
  docs/components/antd/form/README.md
  docs/components/antd/form/demos/dynamic_form.py
  docs/components/antd/form/demos/form_action.py
  frontend/antd/form/Index.svelte
  frontend/antd/form/form.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: locale map
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/config-provider/locales.ts
Due: pnpm run format, pnpm run lint:js

fix: lang2RegionMap
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/config-provider/locales.ts
Due: pnpm run format, pnpm run lint:js

feat: support automatic i18n detection for ConfigProvider (#97)
  .changeset/warm-months-hide.md
  backend/modelscope_studio/utils/dev/component.py
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/config-provider/locales.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add the `form_action` property to manually trigger form actions (#98)
  .changeset/shiny-cats-crash.md
  backend/modelscope_studio/components/antd/form/__init__.py
  docs/components/antd/form/README-zh_CN.md
  docs/components/antd/form/README.md
  docs/components/antd/form/demos/dynamic_form.py
  docs/components/antd/form/demos/form_action.py
  frontend/antd/form/Index.svelte
  frontend/antd/form/form.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update deps
  .changeset/fruity-ends-tell.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format

chore: update versions
  .changeset/fruity-ends-tell.md
  .changeset/pink-carrots-hammer.md
  .changeset/shiny-cats-crash.md
  .changeset/twenty-moles-slide.md
  .changeset/warm-months-hide.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: add `preserved_by_key` parameter and override `api_info` method
  .changeset/social-bags-sing.md
  backend/modelscope_studio/utils/dev/component.py
  docs/components/antdx/x_provider/README-zh_CN.md
  docs/components/antdx/x_provider/README.md
Due: pnpm run format, pnpm run lint:py

feat: update to respect Gradio <= 5.49.0 (#109)
  .changeset/social-bags-sing.md
  backend/modelscope_studio/utils/dev/component.py
  docs/components/antdx/x_provider/README-zh_CN.md
  docs/components/antdx/x_provider/README.md
Due: pnpm run format, pnpm run lint:py

chore: update versions
  .changeset/social-bags-sing.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: upgrade to antd 5.28.0, antdx 1.6.1
  backend/modelscope_studio/components/antd/__init__.py
  backend/modelscope_studio/components/antd/components.py
  backend/modelscope_studio/components/antd/drawer/__init__.py
  backend/modelscope_studio/components/antd/grid/row/__init__.py
  backend/modelscope_studio/components/antd/qr_code/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/statistic/timer/__init__.py
  config/changelog/package.json
  config/lint-config/configs/eslint/react.mjs
  config/lint-config/package.json
  docs/components/antd/statistic/README-zh_CN.md
  docs/components/antd/statistic/README.md
  docs/components/antd/statistic/demos/timer.py
  frontend/antd/drawer/drawer.tsx
  frontend/antd/statistic/timer/Index.svelte
  frontend/antd/statistic/timer/gradio.config.js
  frontend/antd/statistic/timer/package.json
  frontend/antd/statistic/timer/statistic.timer.tsx
  frontend/legacy/compiled/package.json
  frontend/legacy/compiled/src/ComponentConfigProvider.tsx
  frontend/legacy/compiled/src/Flow/components/FileUpload.tsx
  frontend/legacy/compiled/src/Markdown/components/custom/Accordion.tsx
  frontend/package.json
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/utils/hooks/useMemoizedEqualValue.ts
  frontend/utils/hooks/useMemoizedFn.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/good-pens-beam.md
Due: pnpm run format

fix: typo
  backend/modelscope_studio/components/antd/drawer/__init__.py
  docs/components/antd/tag/demos/basic.py
  frontend/antd/drawer/drawer.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: upgrade to antd 5.28.0, antdx 1.6.1 (#111)
  .changeset/good-pens-beam.md
  backend/modelscope_studio/components/antd/__init__.py
  backend/modelscope_studio/components/antd/components.py
  backend/modelscope_studio/components/antd/drawer/__init__.py
  backend/modelscope_studio/components/antd/grid/row/__init__.py
  backend/modelscope_studio/components/antd/qr_code/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/statistic/timer/__init__.py
  config/changelog/package.json
  config/lint-config/configs/eslint/react.mjs
  config/lint-config/package.json
  docs/components/antd/statistic/README-zh_CN.md
  docs/components/antd/statistic/README.md
  docs/components/antd/statistic/demos/timer.py
  docs/components/antd/tag/demos/basic.py
  frontend/antd/drawer/drawer.tsx
  frontend/antd/statistic/timer/Index.svelte
  frontend/antd/statistic/timer/gradio.config.js
  frontend/antd/statistic/timer/package.json
  frontend/antd/statistic/timer/statistic.timer.tsx
  frontend/legacy/compiled/package.json
  frontend/legacy/compiled/src/ComponentConfigProvider.tsx
  frontend/legacy/compiled/src/Flow/components/FileUpload.tsx
  frontend/legacy/compiled/src/Markdown/components/custom/Accordion.tsx
  frontend/package.json
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/utils/hooks/useMemoizedEqualValue.ts
  frontend/utils/hooks/useMemoizedFn.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py
