Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx,svelte}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

chore: update versions
  .changeset/good-pens-beam.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: add pro component `MonacoEditor`
  backend/modelscope_studio/components/base/text/__init__.py
  backend/modelscope_studio/components/pro/__init__.py
  backend/modelscope_studio/components/pro/components.py
  backend/modelscope_studio/components/pro/monaco_editor/__init__.py
  backend/modelscope_studio/components/pro/monaco_editor/diff_editor/__init__.py
  frontend/defineConfig.js
  frontend/package.json
  frontend/plugin.js
  frontend/pro/monaco-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/gradio.config.js
  frontend/pro/monaco-editor/diff-editor/monaco-editor.diff-editor.tsx
  frontend/pro/monaco-editor/diff-editor/package.json
  frontend/pro/monaco-editor/gradio.config.js
  frontend/pro/monaco-editor/loader.ts
  frontend/pro/monaco-editor/monaco-editor.less
  frontend/pro/monaco-editor/monaco-editor.tsx
  frontend/pro/monaco-editor/package.json
  frontend/svelte-preprocess-react/inject.ts
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: types
  backend/modelscope_studio/components/pro/monaco_editor/__init__.py
  frontend/fixtures.d.ts
  frontend/svelte-preprocess-react/sveltify.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: add docs & examples for MonacoEditor
  backend/modelscope_studio/components/pro/monaco_editor/__init__.py
  backend/modelscope_studio/components/pro/monaco_editor/diff_editor/__init__.py
  docs/app.py
  docs/components/pro/monaco_editor/README-zh_CN.md
  docs/components/pro/monaco_editor/README.md
  docs/components/pro/monaco_editor/app.py
  docs/components/pro/monaco_editor/demos/basic.py
  docs/components/pro/monaco_editor/demos/diff_editor.py
  docs/components/pro/monaco_editor/demos/javascript_customize.py
  docs/components/pro/monaco_editor/demos/monaco_editor_options.py
Due: pnpm run format, pnpm run lint:py

fix: update of correction value
  frontend/pro/monaco-editor/diff-editor/monaco-editor.diff-editor.tsx
  frontend/pro/monaco-editor/monaco-editor.tsx
  frontend/pro/monaco-editor/useValueChange.ts
Due: pnpm run format, pnpm run lint:js

chore: add changeset
  .changeset/silly-bats-own.md
Due: pnpm run format

fix: inject the monaco loader from `ms.Application`
  backend/modelscope_studio/components/pro/monaco_editor/diff_editor/__init__.py
  frontend/pro/monaco-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/gradio.config.js
  frontend/pro/monaco-editor/gradio.config.js
  frontend/pro/monaco-editor/loader.ts
  frontend/svelte-preprocess-react/inject.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: typo
  docs/components/pro/monaco_editor/README-zh_CN.md
  docs/components/pro/monaco_editor/README.md
  frontend/pro/monaco-editor/diff-editor/monaco-editor.diff-editor.tsx
Due: pnpm run format, pnpm run lint:js

feat: add pro component `MonacoEditor` (#112)
  .changeset/silly-bats-own.md
  backend/modelscope_studio/components/base/text/__init__.py
  backend/modelscope_studio/components/pro/__init__.py
  backend/modelscope_studio/components/pro/components.py
  backend/modelscope_studio/components/pro/monaco_editor/__init__.py
  backend/modelscope_studio/components/pro/monaco_editor/diff_editor/__init__.py
  docs/app.py
  docs/components/pro/monaco_editor/README-zh_CN.md
  docs/components/pro/monaco_editor/README.md
  docs/components/pro/monaco_editor/app.py
  docs/components/pro/monaco_editor/demos/basic.py
  docs/components/pro/monaco_editor/demos/diff_editor.py
  docs/components/pro/monaco_editor/demos/javascript_customize.py
  docs/components/pro/monaco_editor/demos/monaco_editor_options.py
  frontend/defineConfig.js
  frontend/fixtures.d.ts
  frontend/package.json
  frontend/plugin.js
  frontend/pro/monaco-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/gradio.config.js
  frontend/pro/monaco-editor/diff-editor/monaco-editor.diff-editor.tsx
  frontend/pro/monaco-editor/diff-editor/package.json
  frontend/pro/monaco-editor/gradio.config.js
  frontend/pro/monaco-editor/loader.ts
  frontend/pro/monaco-editor/monaco-editor.less
  frontend/pro/monaco-editor/monaco-editor.tsx
  frontend/pro/monaco-editor/package.json
  frontend/pro/monaco-editor/useValueChange.ts
  frontend/svelte-preprocess-react/inject.ts
  frontend/svelte-preprocess-react/sveltify.ts
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: worker loader
  frontend/fixtures.d.ts
  frontend/pro/monaco-editor/Index.svelte
  frontend/pro/monaco-editor/diff-editor/Index.svelte
  frontend/pro/monaco-editor/loader.ts
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/silly-bats-own.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

chore: specify the SDK version
  docs/README.md
  docs/requirements.txt
  frontend/pro/monaco-editor/diff-editor/package.json
Due: pnpm run format

chore: package name
  frontend/pro/monaco-editor/diff-editor/package.json
  frontend/pro/monaco-editor/package.json
  frontend/pro/web-sandbox/package.json
Due: pnpm run format

feat(WebSandbox): add `custom` event to allow sending notifications from sandbox to Python
  .changeset/violet-candles-switch.md
  backend/modelscope_studio/components/pro/web_sandbox/__init__.py
  docs/components/pro/web_sandbox/README-zh_CN.md
  docs/components/pro/web_sandbox/README.md
  docs/components/pro/web_sandbox/demos/custom_sandbox_event.py
  frontend/pro/web-sandbox/web-sandbox.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: drop container of MulimodalInput
  .changeset/great-places-post.md
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js

fix: docs
  docs/components/pro/web_sandbox/README.md
Due: pnpm run format

feat(WebSandbox): add `custom` event to allow sending notifications from sandbox to Python (#113)
  .changeset/great-places-post.md
  .changeset/violet-candles-switch.md
  backend/modelscope_studio/components/pro/web_sandbox/__init__.py
  docs/components/pro/web_sandbox/README-zh_CN.md
  docs/components/pro/web_sandbox/README.md
  docs/components/pro/web_sandbox/demos/custom_sandbox_event.py
  frontend/pro/multimodal-input/multimodal-input.tsx
  frontend/pro/web-sandbox/web-sandbox.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/great-places-post.md
  .changeset/violet-candles-switch.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

refactor(wip): components
  frontend/antd/button/Index.svelte
  frontend/antd/icon/Index.svelte
  frontend/antd/icon/iconfont-provider/Index.svelte
  frontend/antdx/actions/actions.tsx
  frontend/base/application/Application.svelte
  frontend/base/auto-loading/Index.svelte
  frontend/base/div/Index.svelte
  frontend/base/each/EachItem.svelte
  frontend/base/each/Index.svelte
  frontend/base/slot/Index.svelte
  frontend/svelte-preprocess-react/component/props.svelte.ts
Due: pnpm run format, pnpm run lint:js

fix: gradio config
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/steps/item/steps.item.tsx
  frontend/base/application/gradio.config.js
  frontend/package.json
  frontend/pro/monaco-editor/diff-editor/monaco-editor.diff-editor.tsx
  frontend/pro/monaco-editor/monaco-editor.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

refactor(antdx): components migration
  frontend/base/auto-loading/Index.svelte
  frontend/base/fragment/Index.svelte
  frontend/pro/chatbot/type.ts
  frontend/pro/monaco-editor/Index.svelte
  frontend/pro/multimodal-input/Index.svelte
  frontend/pro/web-sandbox/Index.svelte
Due: pnpm run format, pnpm run lint:js

refactor(antdx): new components notification & think
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/notification/__init__.py
  backend/modelscope_studio/components/antdx/think/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antdx/notification/Index.svelte
  frontend/antdx/notification/gradio.config.js
  frontend/antdx/notification/notification.tsx
  frontend/antdx/notification/package.json
  frontend/antdx/think/Index.svelte
  frontend/antdx/think/gradio.config.js
  frontend/antdx/think/package.json
  frontend/antdx/think/think.tsx
  frontend/package.json
  frontend/utils/hooks/useTargets.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

refactor(antdx): new components folder & code-highlighter
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/code_highlighter/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/folder/__init__.py
  backend/modelscope_studio/components/antdx/folder/directory_icon/__init__.py
  backend/modelscope_studio/components/antdx/folder/tree_node/__init__.py
  frontend/antdx/code-highlighter/Index.svelte
  frontend/antdx/code-highlighter/code-highlighter.tsx
  frontend/antdx/code-highlighter/gradio.config.js
  frontend/antdx/code-highlighter/package.json
  frontend/antdx/folder/Index.svelte
  frontend/antdx/folder/context.ts
  frontend/antdx/folder/directory-icon/Index.svelte
  frontend/antdx/folder/directory-icon/folder.directory-icon.tsx
  frontend/antdx/folder/directory-icon/gradio.config.js
  frontend/antdx/folder/directory-icon/package.json
  frontend/antdx/folder/folder.tsx
  frontend/antdx/folder/gradio.config.js
  frontend/antdx/folder/package.json
  frontend/antdx/folder/tree-node/Index.svelte
  frontend/antdx/folder/tree-node/folder.tree-node.tsx
  frontend/antdx/folder/tree-node/gradio.config.js
  frontend/antdx/folder/tree-node/package.json
  frontend/fixtures.d.ts
  frontend/package.json
  frontend/pro/multimodal-input/Index.svelte
  frontend/svelte-preprocess-react/internal/Bridge.svelte.ts
  frontend/svelte-preprocess-react/react-slot.tsx
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

refactor(antdx): new components mermaid & sources
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/mermaid/__init__.py
  backend/modelscope_studio/components/antdx/sources/__init__.py
  backend/modelscope_studio/components/antdx/sources/item/__init__.py
  frontend/antdx/mermaid/Index.svelte
  frontend/antdx/mermaid/gradio.config.js
  frontend/antdx/mermaid/mermaid.tsx
  frontend/antdx/mermaid/package.json
  frontend/antdx/sources/Index.svelte
  frontend/antdx/sources/context.ts
  frontend/antdx/sources/gradio.config.js
  frontend/antdx/sources/item/Index.svelte
  frontend/antdx/sources/item/gradio.config.js
  frontend/antdx/sources/item/package.json
  frontend/antdx/sources/item/sources.item.tsx
  frontend/antdx/sources/package.json
  frontend/antdx/sources/sources.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: enter prerelease mode and version packages
  .changeset/eleven-aliens-sell.md
  .changeset/pre.json
  .github/workflows/publish.yaml
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  .github/workflows/publish.yaml
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pnpm-lock.yaml
  pyproject.toml
  scripts/publish-to-pypi.mts
Due: pnpm run format, pnpm run lint:py

fix(ci): create github tag and release
  package.json
  scripts/create-tag-n-release.mts
Due: pnpm run format

fix: cloned props
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/components/antdx/actions/action_item/__init__.py
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  config/changelog/CHANGELOG.md
  config/lint-config/CHANGELOG.md
  docs/components/antdx/actions/demos/basic.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/config-provider/config-provider.tsx
  frontend/antdx/CHANGELOG.md
  frontend/antdx/actions/action-item/actions.action-item.tsx
  frontend/antdx/actions/actions.tsx
  frontend/base/CHANGELOG.md
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/svelte-preprocess-react/react-slot.tsx
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update deps
  config/changelog/package.json
  config/lint-config/package.json
  frontend/package.json
  frontend/svelte-preprocess-react/react-slot.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

fix: property alias
  backend/modelscope_studio/components/antd/config_provider/__init__.py
  backend/modelscope_studio/components/antd/layout/sider/__init__.py
  backend/modelscope_studio/components/antd/menu/__init__.py
  backend/modelscope_studio/components/antd/menu/item/__init__.py
  backend/modelscope_studio/components/antdx/x_provider/__init__.py
Due: pnpm run lint:py
