Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/pink-sails-itch.md
  .changeset/pre.json
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: update readme
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
Due: pnpm run format

chore: update versions
  frontend/antd/avatar/Index.svelte
  frontend/antd/badge/Index.svelte
  frontend/antd/calendar/Index.svelte
  pyproject.toml
Due: pnpm run format, pnpm run lint:js

fix: docs
  docs/components/pro/chatbot/demos/multimodal.py
  docs/helper/Site.py
  docs/layout_templates/chatbot/demos/basic.py
  docs/layout_templates/chatbot/demos/fine_grained_control.py
  frontend/svelte-preprocess-react/component/props.svelte.ts
  frontend/svelte-preprocess-react/internal/Bridge.svelte.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: add wiki link to README
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
Due: pnpm run format

fix: docs
  docs/layout_templates/chatbot/demos/copilot.py
  docs/layout_templates/coder_artifacts/demos/app.py
Due: pnpm run lint:py

docs: update wiki
  .wiki/en/API Reference/API Reference.md
  .wiki/en/API Reference/Python API/Python API.md
  .wiki/en/Ant Design X Components/Components Overview.md
  .wiki/en/Base Components/Application Component.md
  .wiki/en/Project Overview/Project Introduction.md
  .wiki/en/Project Overview/Project Overview.md
  .wiki/en/Project Overview/Tech Stack.md
  .wiki/en/Project Overview/Use Cases.md
  .wiki/en/Project Overview/Version Info.md
  .wiki/en/Quick Start.md
  .wiki/zh/API 参考/API 参考.md
  .wiki/zh/API 参考/Python API/Python API.md
  .wiki/zh/Ant Design X 组件库/组件概览.md
  .wiki/zh/基础组件/Application 组件.md
  .wiki/zh/快速开始.md
  .wiki/zh/项目概述/应用场景.md
  .wiki/zh/项目概述/技术栈.md
  .wiki/zh/项目概述/版本信息.md
  .wiki/zh/项目概述/项目介绍.md
  .wiki/zh/项目概述/项目概述.md
Due: pnpm run format

feat: synchronize deps to antd 6.4.0 and antdx 2.7.0
  .changeset/five-wings-look.md
  .wiki/en/Ant Design X Components/General Components/Bubble Chat Bubble/Bubble Chat Bubble.md
  .wiki/en/Ant Design X Components/General Components/Bubble Chat Bubble/Bubble.List Component.md
  .wiki/zh/Ant Design X 组件库/反馈组件/Copy 复制操作.md
  .wiki/zh/Ant Design X 组件库/通用组件/Bubble 对话气泡/Bubble 对话气泡.md
  .wiki/zh/Ant Design X 组件库/通用组件/Bubble 对话气泡/Bubble.List 列表组件.md
  .wiki/zh/Ant Design X 组件库/通用组件/Bubble 对话气泡/Bubble.Role 角色标识组件.md
  backend/modelscope_studio/components/antd/alert/__init__.py
  backend/modelscope_studio/components/antd/anchor/item/__init__.py
  backend/modelscope_studio/components/antd/cascader/__init__.py
  backend/modelscope_studio/components/antd/date_picker/__init__.py
  backend/modelscope_studio/components/antd/float_button/__init__.py
  backend/modelscope_studio/components/antd/image/__init__.py
  backend/modelscope_studio/components/antd/input/search/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/splitter/panel/__init__.py
  backend/modelscope_studio/components/antd/typography/link/__init__.py
  backend/modelscope_studio/components/antd/typography/paragraph/__init__.py
  backend/modelscope_studio/components/antd/typography/text/__init__.py
  backend/modelscope_studio/components/antd/typography/title/__init__.py
  config/changelog/package.json
  config/lint-config/configs/eslint/react.mjs
  config/lint-config/package.json
  frontend/antd/cascader/cascader.tsx
  frontend/antd/date-picker/date-picker.tsx
  frontend/antd/date-picker/range-picker/date-picker.range-picker.tsx
  frontend/antd/input/input.tsx
  frontend/antd/input/search/input.search.tsx
  frontend/antd/input/textarea/input.textarea.tsx
  frontend/antd/splitter/splitter.tsx
  frontend/antd/typography/typography.base.tsx
  frontend/antdx/bubble/list/utils.tsx
  frontend/base/auto-loading/useLoadingStatus.ts
  frontend/globals/components/markdown/index.tsx
  frontend/package.json
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/messages/tool.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: ci node version
  .github/workflows/lint.yaml
  frontend/antdx/think/Index.svelte
Due: pnpm run format, pnpm run lint:js

fix: ci
  pnpm-workspace.yaml
Due: pnpm run format

fix: ci
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  backend/modelscope_studio/components/antd/cascader/__init__.py
Due: pnpm run format, pnpm run lint:py

fix(antdx): resolve Think component React #130 in production build
  .changeset/tame-icons-default.md
  frontend/antdx/think/think.tsx
  frontend/plugin.js
Due: pnpm run format, pnpm run lint:js

fix(antdx): resolve Think component React #130 in production build (#123)
  .changeset/tame-icons-default.md
  frontend/antdx/think/think.tsx
  frontend/plugin.js
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/five-wings-look.md
  .changeset/tame-icons-default.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

chore: upgrade deps to antd 6.6.0 and antdx 2.9.0
  .gitignore
  config/changelog/package.json
  config/lint-config/package.json
  frontend/defineConfig.js
  frontend/fixtures.d.ts
  frontend/package.json
  frontend/plugin.js
  frontend/pro/monaco-editor/loader.ts
  frontend/svelte-preprocess-react/component/props.svelte.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

fix(changelog): migrate to the @changesets/get-github-info v1 api
  config/changelog/src/index.ts
Due: pnpm run format, pnpm run lint:js

fix: pin the tsup dts build to typescript 5.9
  package.json
  pnpm-lock.yaml
Due: pnpm run format

fix: babel
  frontend/plugin.js
Due: pnpm run format, pnpm run lint:js

fix: restore the global ref and namespace handling in the vite plugin
  frontend/plugin.js
Due: pnpm run format, pnpm run lint:js

fix: gradio deps
  .flake8
  .prettierignore
  .wiki/en/API Reference/Python API/Antd Components API/Data Display Components API.md
  .wiki/zh/API 参考/Python API/Antd 组件 API/数据展示组件 API.md
  config/lint-config/package.json
  docs/components/antd/border_beam/demos/basic.py
  docs/components/antd/border_beam/demos/color.py
  docs/components/antd/border_beam/demos/multiple_beams.py
  eslint.config.mjs
  frontend/antd/border-beam/border-beam.tsx
  frontend/base/auto-loading/auto-loading.tsx
  frontend/package.json
  frontend/pro/chatbot/type.ts
  frontend/pro/web-sandbox/web-sandbox.tsx
  frontend/svelte-preprocess-react/component/props.svelte.ts
  package.json
  patches/gradio-preview/NOTICE
  patches/gradio-preview/README.md
  patches/gradio-preview/package.json
  patches/gradio-preview/scripts/copy-assets.mjs
  patches/gradio-preview/src/_deepmerge_internal.ts
  patches/gradio-preview/src/build.ts
  patches/gradio-preview/src/dev.ts
  patches/gradio-preview/src/examine.py
  patches/gradio-preview/src/hooks.mjs
  patches/gradio-preview/src/index.ts
  patches/gradio-preview/src/placeholder.ts
  patches/gradio-preview/src/plugins.ts
  patches/gradio-preview/src/register.mjs
  patches/gradio-preview/src/svelte_runtime_entry.js
  patches/gradio-preview/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: rolldown externals
  frontend/plugin.js
  package.json
  patches/gradio-preview/src/plugins.ts
Due: pnpm run format, pnpm run lint:js

chore: add changelog
  .changeset/brave-otters-listen.md
  .changeset/bright-crabs-clap.md
  .changeset/clean-brushes-drum.md
  .changeset/fresh-shoes-jog.md
  .changeset/lucky-taxis-serve.md
  .changeset/plain-pears-listen.md
  .changeset/silly-doors-bathe.md
  .changeset/tidy-donkeys-thank.md
  frontend/defineConfig.js
  frontend/plugin.js
Due: pnpm run format, pnpm run lint:js

fix: changeset config
  .changeset/config.json
  config/changelog/src/index.ts
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/brave-otters-listen.md
  .changeset/bright-crabs-clap.md
  .changeset/clean-brushes-drum.md
  .changeset/fresh-shoes-jog.md
  .changeset/lucky-taxis-serve.md
  .changeset/silly-doors-bathe.md
  .changeset/tidy-donkeys-thank.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  patches/gradio-preview/CHANGELOG.md
  patches/gradio-preview/package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: prepare for gradio 6.28 compatibility
  frontend/package.json
  frontend/svelte-preprocess-react/component/props.svelte.ts
  frontend/svelte-preprocess-react/internal/ReactWrapper.svelte
  patches/gradio-preview/src/dev.ts
  patches/gradio-preview/src/svelte_runtime_entry.js
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js

chore: update deps
  config/changelog/package.json
  config/lint-config/package.json
  frontend/package.json
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/web-sandbox/parser.ts
  package.json
  patches/gradio-preview/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

feat: support Gradio `6.28.0`
  .changeset/support-gradio-6-28.md
  README-zh_CN.md
  README.md
  config/changelog/package.json
  docs/README-zh_CN.md
  docs/README.md
  docs/helper/Site.py
  frontend/package.json
  package.json
  patches/gradio-preview/README.md
  patches/gradio-preview/package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: lock
  pnpm-lock.yaml
Due: pnpm run format

feat: prepare for gradio 6.28 compatibility (#127)
  .changeset/support-gradio-6-28.md
  README-zh_CN.md
  README.md
  config/changelog/package.json
  config/lint-config/package.json
  docs/README-zh_CN.md
  docs/README.md
  docs/helper/Site.py
  frontend/package.json
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/web-sandbox/parser.ts
  frontend/svelte-preprocess-react/component/props.svelte.ts
  frontend/svelte-preprocess-react/internal/ReactWrapper.svelte
  package.json
  patches/gradio-preview/README.md
  patches/gradio-preview/package.json
  patches/gradio-preview/src/dev.ts
  patches/gradio-preview/src/svelte_runtime_entry.js
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/support-gradio-6-28.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  patches/gradio-preview/CHANGELOG.md
  patches/gradio-preview/package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: gradio version
  docs/requirements.txt
Due: none

docs: update wiki
  .wiki/en/API Reference/API Reference.md
  .wiki/en/Project Overview/Project Introduction.md
  .wiki/en/Project Overview/Project Overview.md
  .wiki/en/Project Overview/Tech Stack.md
  .wiki/en/Project Overview/Version Info.md
  .wiki/en/Quick Start.md
  .wiki/en/Troubleshooting.md
  .wiki/zh/API 参考/API 参考.md
  .wiki/zh/快速开始.md
  .wiki/zh/故障排除.md
  .wiki/zh/项目概述/技术栈.md
  .wiki/zh/项目概述/版本信息.md
  .wiki/zh/项目概述/项目介绍.md
  .wiki/zh/项目概述/项目概述.md
Due: pnpm run format

fix(antdx): FileCard / FileCard.List.Item crash when `src` is a file dict without `url`
  .changeset/fix-file-card-src-dict.md
  backend/modelscope_studio/components/antdx/file_card/__init__.py
  backend/modelscope_studio/components/antdx/file_card/list/item/__init__.py
Due: pnpm run format, pnpm run lint:py

fix(antdx): FileCard / FileCard.List.Item crash when `src` is a file dict without `url` (#128)
  .changeset/fix-file-card-src-dict.md
  backend/modelscope_studio/components/antdx/file_card/__init__.py
  backend/modelscope_studio/components/antdx/file_card/list/item/__init__.py
Due: pnpm run format, pnpm run lint:py

fix: correct slot keys, mutable defaults and missing commas across components
  backend/modelscope_studio/components/antd/dropdown/__init__.py
  backend/modelscope_studio/components/antd/dropdown/button/__init__.py
  backend/modelscope_studio/components/antd/pagination/__init__.py
  backend/modelscope_studio/components/antd/tour/__init__.py
  backend/modelscope_studio/components/antd/tour/step/__init__.py
  backend/modelscope_studio/components/antdx/file_card/__init__.py
  backend/modelscope_studio/components/antdx/file_card/list/item/__init__.py
  backend/modelscope_studio/components/antdx/sender/__init__.py
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  frontend/antdx/sender/sender.tsx
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

Path conditions:
  pnpm run lint:style: any of: *.{less,css}
  pnpm run format: ((any of: *.{less,css}) or (any of: *.{js,jsx,ts,tsx,svelte})) or (any of: *.{md,yaml,yml,json,html})
  pnpm run lint:js: any of: *.{js,jsx,ts,tsx,svelte}
  pnpm run lint:py: any of: *.py
