Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

fix: change exposed component name
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/antd/components.py
  docs/antd.py
Due: pnpm run lint:py

chore: monorepo
  frontend/antd/package.json
  frontend/base/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run format

feat: changeset pre version
  .changeset/pre.json
  .changeset/tough-walls-grab.md
Due: pnpm run format

chore: update beta versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: support Python 3.8
  backend/modelscope_studio/utils/dev/component.py
Due: pnpm run lint:py

feat: support cutom latex delimiters in Markdown and Chatbot
  .changeset/mighty-jobs-sneeze.md
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Flow/__init__.py
  backend/modelscope_studio/components/Lifecycle/__init__.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/Chatbot/Index.svelte
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Markdown/Index.svelte
  frontend/Markdown/shared/Markdown.svelte
  frontend/compiled/src/Markdown/index.tsx
  frontend/compiled/src/Markdown/math.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/mighty-jobs-sneeze.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: changelog
  frontend/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/src/Markdown/math.ts
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/shared/CHANGELOG.md
Due: pnpm run format, pnpm run lint:js

feat: add context value to Each
  backend/modelscope_studio/components/base/each/__init__.py
  backend/modelscope_studio/components/base/filter/__init__.py
  frontend/base/each/Each.svelte
  frontend/base/each/Index.svelte
  frontend/base/filter/Index.svelte
  frontend/svelte-preprocess-react/internal/ReactWrapper.svelte
  frontend/svelte-preprocess-react/slot.ts
  frontend/utils/createItemsContext.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: integrate Application and Lifecycle
  backend/modelscope_studio/components/base/application/__init__.py
  backend/modelscope_studio/components/legacy/Lifecycle/__init__.py
  frontend/base/application/Index.svelte
Due: pnpm run lint:py

feat: handle rest props
  backend/modelscope_studio/components/antd/form/item/__init__.py
  frontend/antd/button/Index.svelte
  frontend/antd/config-provider/Index.svelte
  frontend/antd/config-provider/config-provider.tsx
  frontend/svelte-preprocess-react/component.ts
  frontend/svelte-preprocess-react/slot.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: update to antd 5.21.0
  backend/modelscope_studio/components/antd/__init__.py
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/components.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/splitter/panel/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/breadcrumb/item/BreadcrumbItem.svelte
  frontend/antd/pagination/pagination.tsx
  frontend/antd/splitter/Index.svelte
  frontend/antd/splitter/context.ts
  frontend/antd/splitter/gradio.config.js
  frontend/antd/splitter/package.json
  frontend/antd/splitter/panel/Index.svelte
  frontend/antd/splitter/panel/gradio.config.js
  frontend/antd/splitter/panel/package.json
  frontend/antd/splitter/splitter.tsx
  frontend/antd/table/table.tsx
  frontend/antd/typography/typography.base.tsx
  frontend/antd/upload/upload.tsx
  frontend/package.json
  frontend/svelte-preprocess-react/slot.ts
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: duplicate
  .lintstagedrc
  frontend/antd/grid/col/Index.svelte
  frontend/antd/splitter/panel/Index.svelte
Due: none

fix: float button
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/float_button/__init__.py
  backend/modelscope_studio/components/antd/float_button/back_top/__init__.py
  backend/modelscope_studio/components/antd/float_button/group/__init__.py
  backend/modelscope_studio/components/base/div/__init__.py
  backend/modelscope_studio/components/base/span/__init__.py
  eslint.config.mjs
  frontend/antd/float-button/Index.svelte
  frontend/antd/float-button/back-top/float-button.back-top.tsx
  frontend/antd/float-button/float-button.tsx
  frontend/antd/float-button/group/Index.svelte
  frontend/antd/float-button/group/float-button.group.tsx
  frontend/antd/icon/icon.tsx
  frontend/base/div/Index.svelte
  frontend/base/span/Index.svelte
  frontend/svelte-preprocess-react/component.ts
  frontend/svelte-preprocess-react/events-polyfills.ts
  frontend/svelte-preprocess-react/react-slot.tsx
  frontend/svelte-preprocess-react/slot.ts
  frontend/utils/hooks/useSlotsChildren.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: clone react element
  frontend/antd/float-button/group/float-button.group.tsx
  frontend/antd/icon/icon.tsx
  frontend/antd/icon/iconfont-provider/Index.svelte
  frontend/fixtures.d.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/svelte-preprocess-react/react-slot.tsx
Due: pnpm run format, pnpm run lint:js

feat: complete the render function for slots
  backend/modelscope_studio/components/antd/calendar/__init__.py
  backend/modelscope_studio/components/antd/drawer/__init__.py
  backend/modelscope_studio/components/antd/image/__init__.py
  backend/modelscope_studio/components/antd/list/__init__.py
  backend/modelscope_studio/components/antd/modal/__init__.py
  backend/modelscope_studio/components/antd/qr_code/__init__.py
  backend/modelscope_studio/components/antd/statistic/__init__.py
  backend/modelscope_studio/components/antd/table/__init__.py
  backend/modelscope_studio/components/antd/table/column/__init__.py
  backend/modelscope_studio/components/antd/table/expandable/__init__.py
  backend/modelscope_studio/components/antd/table/row_selection/__init__.py
  backend/modelscope_studio/components/antd/tabs/__init__.py
  frontend/antd/calendar/Index.svelte
  frontend/antd/calendar/calendar.tsx
  frontend/antd/collapse/Index.svelte
  frontend/antd/collapse/collapse.tsx
  frontend/antd/drawer/Index.svelte
  frontend/antd/drawer/drawer.tsx
  frontend/antd/image/Index.svelte
  frontend/antd/image/image.tsx
  frontend/antd/list/Index.svelte
  frontend/antd/list/list.tsx
  frontend/antd/modal/Index.svelte
  frontend/antd/modal/modal.tsx
  frontend/antd/qr-code/Index.svelte
  frontend/antd/qr-code/qr-code.tsx
  frontend/antd/statistic/Index.svelte
  frontend/antd/statistic/statistic.tsx
  frontend/antd/table/Index.svelte
  frontend/antd/table/column/Index.svelte
  frontend/antd/table/expandable/Expandable.svelte
  frontend/antd/table/row-selection/RowSelection.svelte
  frontend/antd/table/table.tsx
  frontend/antd/tabs/Index.svelte
  frontend/antd/tabs/tabs.tsx
  frontend/antd/tree/Index.svelte
  frontend/antd/tree/directory-tree/Index.svelte
  frontend/antd/tree/tree-node/Index.svelte
  frontend/antd/tree/tree.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add docs in code
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/button/group/__init__.py
  backend/modelscope_studio/components/antd/card/__init__.py
  backend/modelscope_studio/components/antd/card/grid/__init__.py
  backend/modelscope_studio/components/antd/card/meta/__init__.py
  backend/modelscope_studio/components/antd/divider/__init__.py
  backend/modelscope_studio/components/antd/flex/__init__.py
  backend/modelscope_studio/components/antd/float_button/__init__.py
  backend/modelscope_studio/components/antd/float_button/back_top/__init__.py
  backend/modelscope_studio/components/antd/float_button/group/__init__.py
  backend/modelscope_studio/components/antd/grid/col/__init__.py
  backend/modelscope_studio/components/antd/grid/row/__init__.py
  backend/modelscope_studio/components/antd/icon/__init__.py
  backend/modelscope_studio/components/antd/icon/iconfont_provider/__init__.py
  backend/modelscope_studio/components/antd/layout/__init__.py
  backend/modelscope_studio/components/antd/layout/content/__init__.py
  backend/modelscope_studio/components/antd/layout/footer/__init__.py
  backend/modelscope_studio/components/antd/layout/header/__init__.py
  backend/modelscope_studio/components/antd/layout/sider/__init__.py
  backend/modelscope_studio/components/antd/space/__init__.py
  backend/modelscope_studio/components/antd/space/compact/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/splitter/panel/__init__.py
  backend/modelscope_studio/components/antd/typography/link/__init__.py
  backend/modelscope_studio/components/antd/typography/paragraph/__init__.py
  backend/modelscope_studio/components/antd/typography/text/__init__.py
  backend/modelscope_studio/components/antd/typography/title/__init__.py
  frontend/antd/layout/sider/layout.sider.tsx
  frontend/antd/table/column/Index.svelte
  frontend/antd/typography/Base.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: migrate to gradio 5
  .changeset/lemon-laws-cross.md
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: add root class name
  backend/modelscope_studio/components/antd/anchor/__init__.py
  backend/modelscope_studio/components/antd/auto_complete/__init__.py
  backend/modelscope_studio/components/antd/auto_complete/option/__init__.py
  backend/modelscope_studio/components/antd/breadcrumb/__init__.py
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/button/group/__init__.py
  backend/modelscope_studio/components/antd/cascader/__init__.py
  backend/modelscope_studio/components/antd/cascader/option/__init__.py
  backend/modelscope_studio/components/antd/cascader/panel/__init__.py
  backend/modelscope_studio/components/antd/checkbox/__init__.py
  backend/modelscope_studio/components/antd/checkbox/group/__init__.py
  backend/modelscope_studio/components/antd/checkbox/group/option/__init__.py
  backend/modelscope_studio/components/antd/divider/__init__.py
  backend/modelscope_studio/components/antd/dropdown/__init__.py
  backend/modelscope_studio/components/antd/dropdown/button/__init__.py
  backend/modelscope_studio/components/antd/flex/__init__.py
  backend/modelscope_studio/components/antd/float_button/__init__.py
  backend/modelscope_studio/components/antd/float_button/back_top/__init__.py
  backend/modelscope_studio/components/antd/float_button/group/__init__.py
  backend/modelscope_studio/components/antd/grid/col/__init__.py
  backend/modelscope_studio/components/antd/grid/row/__init__.py
  backend/modelscope_studio/components/antd/layout/__init__.py
  backend/modelscope_studio/components/antd/layout/content/__init__.py
  backend/modelscope_studio/components/antd/layout/footer/__init__.py
  backend/modelscope_studio/components/antd/layout/header/__init__.py
  backend/modelscope_studio/components/antd/menu/__init__.py
  backend/modelscope_studio/components/antd/pagination/__init__.py
  backend/modelscope_studio/components/antd/space/__init__.py
  backend/modelscope_studio/components/antd/space/compact/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/splitter/panel/__init__.py
  backend/modelscope_studio/components/antd/steps/__init__.py
  backend/modelscope_studio/components/antd/steps/item/__init__.py
  backend/modelscope_studio/components/antd/typography/link/__init__.py
  backend/modelscope_studio/components/antd/typography/paragraph/__init__.py
  backend/modelscope_studio/components/antd/typography/text/__init__.py
  backend/modelscope_studio/components/antd/typography/title/__init__.py
  frontend/antd/cascader/cascader.tsx
  frontend/antd/cascader/option/Index.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: ts lint
  frontend/antd/cascader/cascader.tsx
Due: pnpm run format, pnpm run lint:js

feat: migrating to Gradio 5
  .changeset/young-mangos-accept.md
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  frontend/compiled/src/Markdown/math.ts
  frontend/shared/src/index.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: migrating to Gradio 5 (#31)
  .changeset/young-mangos-accept.md
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  frontend/compiled/src/Markdown/math.ts
  frontend/shared/src/index.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/young-mangos-accept.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/config-provider/Index.svelte
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: ms_globals
  frontend/svelte-preprocess-react/component.ts
Due: pnpm run format, pnpm run lint:js

feat: update
  backend/modelscope_studio/components/antd/affix/__init__.py
  backend/modelscope_studio/components/antd/avatar/__init__.py
  backend/modelscope_studio/components/antd/divider/__init__.py
  backend/modelscope_studio/components/antd/flex/__init__.py
  backend/modelscope_studio/components/antd/float_button/back_top/__init__.py
  backend/modelscope_studio/components/antd/image/__init__.py
  backend/modelscope_studio/components/antd/tour/step/__init__.py
  docs/__init__.py
  docs/components/antd/button/README-zh_CN.md
  docs/components/antd/button/README.md
  docs/components/antd/button/app.py
  docs/components/antd/button/demos/basic.py
  docs/components/antd/divider/README-zh_CN.md
  docs/components/antd/divider/README.md
  docs/components/antd/divider/app.py
  docs/components/antd/divider/demos/basic.py
  docs/components/antd/float_button/README-zh_CN.md
  docs/components/antd/float_button/README.md
  docs/components/antd/float_button/app.py
  docs/components/antd/float_button/demos/basic.py
  docs/helper/Docs.py
  docs/helper/Site.py
  docs/helper/parse_markdown.py
  docs/resources/modelscope.png
  frontend/antd/affix/Index.svelte
  frontend/antd/avatar/Index.svelte
  frontend/antd/float-button/back-top/Index.svelte
  frontend/antd/grid/col/Index.svelte
  frontend/antd/image/Index.svelte
  frontend/antd/tour/step/Index.svelte
  frontend/legacy/Chatbot/Index.svelte
  frontend/legacy/Flow/Index.svelte
  frontend/legacy/Markdown/Awaited.svelte
  frontend/legacy/Markdown/Index.svelte
  frontend/legacy/MultimodalInput/Index.svelte
  frontend/svelte-preprocess-react/component.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: lint
  docs/helper/Docs.py
Due: pnpm run lint:py

docs: build docs
  docs/__init__.py
  docs/helper/Docs.py
  docs/helper/Site.py
Due: pnpm run lint:py

docs: update layout
  docs/__init__.py
  docs/helper/Site.py
Due: pnpm run lint:py

feat: update docs
  docs/__init__.py
  docs/components/base/application/README-zh_CN.md
  docs/components/base/application/README.md
  docs/components/base/application/app.py
  docs/components/base/application/demos/basic.py
  docs/helper/Docs.py
  docs/helper/Site.py
  docs/resources/gradio.png
  docs/resources/modelscope.png
Due: pnpm run format, pnpm run lint:py

fix: gradio5
  .changeset/blue-eggs-invite.md
  frontend/Chatbot/Index.svelte
  frontend/Markdown/Index.svelte
  frontend/Markdown/package.json
  frontend/shared/src/index.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/blue-eggs-invite.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py
