Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx,svelte}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

docs: lazy load
  docs/components/legacy/Docs.py
  docs/helper/Site.py
Due: pnpm run lint:py

docs: overview
  backend/modelscope_studio/components/antd/__init__.py
  backend/modelscope_studio/components/antd/components.py
  backend/modelscope_studio/components/antd/icon/__init__.py
  backend/modelscope_studio/components/antd/icon/iconfont_provider/__init__.py
  backend/modelscope_studio/components/antd/input/__init__.py
  backend/modelscope_studio/components/antd/input/password/__init__.py
  backend/modelscope_studio/components/antd/input/search/__init__.py
  backend/modelscope_studio/components/antd/input/textarea/__init__.py
  docs/app.py
  docs/components/antd/button/demos/basic.py
  docs/components/antd/icon/README-zh_CN.md
  docs/components/antd/icon/README.md
  docs/components/antd/icon/app.py
  docs/components/antd/icon/demos/basic.py
  docs/components/antd/icon/demos/iconfont.py
  docs/components/antd/overview/README-zh_CN.md
  docs/components/antd/overview/README.md
  docs/components/antd/overview/app.py
  docs/components/antd/overview/demos/integrate_other_components.py
  docs/components/antd/overview/demos/limit_event.py
  docs/components/antd/overview/demos/limit_function.py
  docs/components/antd/overview/demos/limit_function_with_event.py
  docs/components/antd/overview/demos/limit_react_node.py
  docs/components/antd/overview/demos/limit_react_node_function.py
  docs/components/antd/overview/demos/quick_start.py
  docs/components/antd/typography/README-zh_CN.md
  docs/components/antd/typography/README.md
  docs/components/antd/typography/app.py
  docs/components/antd/typography/demos/basic.py
  docs/helper/Docs.py
  docs/helper/Site.py
  docs/helper/parse_markdown.py
  frontend/antd/input/input.tsx
  frontend/antd/input/password/input.password.tsx
  frontend/antd/input/search/input.search.tsx
  frontend/antd/input/textarea/input.textarea.tsx
  frontend/base/application/Application.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: compatible input method languages
  docs/components/antd/overview/README-zh_CN.md
  docs/components/antd/overview/README.md
  docs/components/antd/overview/demos/limit_function.py
  docs/components/antd/overview/demos/limit_react_node_function.py
  docs/components/antd/overview/demos/limit_react_node_function_by_function.py
  docs/components/antd/overview/demos/limit_react_node_function_by_slot.py
  frontend/antd/auto-complete/auto-complete.tsx
  frontend/antd/cascader/cascader.tsx
  frontend/antd/cascader/panel/cascader.panel.tsx
  frontend/antd/input-number/input-number.tsx
  frontend/antd/input/input.tsx
  frontend/antd/input/otp/input.otp.tsx
  frontend/antd/input/password/input.password.tsx
  frontend/antd/input/search/input.search.tsx
  frontend/antd/input/textarea/input.textarea.tsx
  frontend/antd/mentions/mentions.tsx
  frontend/base/each/Each.svelte
  frontend/svelte-preprocess-react/slot.ts
  frontend/utils/hooks/useValueChange.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update
  backend/modelscope_studio/components/antd/menu/item/__init__.py
  docs/app.py
  docs/components/antd/button/README-zh_CN.md
  docs/components/antd/divider/README-zh_CN.md
  docs/components/antd/float_button/README-zh_CN.md
  docs/components/antd/icon/README-zh_CN.md
  docs/components/antd/typography/README.md
  docs/components/antd/typography/demos/basic.py
  docs/components/base/overview/README-zh_CN.md
  docs/components/base/overview/README.md
  docs/components/base/overview/app.py
  docs/components/base/overview/demos/basic.py
  docs/helper/Site.py
  frontend/antd/typography/Base.svelte
  frontend/antd/typography/typography.base.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update
  docs/app.py
  docs/components/antd/overview/README-zh_CN.md
  docs/components/antd/overview/README.md
  docs/components/base/application/demos/custom_event.py
  docs/components/base/application/demos/language_adaptation.py
  docs/components/base/application/demos/theme_adaptation.py
  docs/components/base/overview/README-zh_CN.md
  docs/components/base/overview/README.md
  docs/components/base/overview/demos/example.py
  docs/components/base/slot/README-zh_CN.md
  docs/components/base/slot/README.md
  docs/components/base/slot/app.py
  docs/components/base/slot/demos/basic.py
  docs/components/base/slot/demos/language_adaptation.py
  docs/components/base/slot/demos/theme_adaptation.py
Due: pnpm run format, pnpm run lint:py

docs: update readme
  README-zh_CN.md
  README.md
Due: pnpm run format

feat: add new features
  .changeset/fuzzy-goats-retire.md
Due: pnpm run format

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: update
  docs/app.py
  docs/helper/env.py
Due: pnpm run lint:py

docs: update
  README-zh_CN.md
  README.md
  docs/Dockerfile
  docs/README-zh_CN.md
  docs/README.md
  docs/app.py
  docs/components/base/overview/app.py
  docs/components/legacy/README-zh_CN.md
  docs/components/legacy/README.md
  docs/demos/example.py
  docs/helper/Site.py
  docs/requirements.txt
Due: pnpm run format, pnpm run lint:py

docs: update
  README-zh_CN.md
  README.md
Due: pnpm run format

docs: update
  README.md
Due: pnpm run format

fix: readme
  README-zh_CN.md
  README.md
Due: pnpm run format

docs: update readme
  README-zh_CN.md
  README.md
  docs/README-zh_CN.md
  docs/README.md
Due: pnpm run format

fix: sub index for Each & Radio value mapping
  docs/app.py
  docs/components/antd/flex/README-zh_CN.md
  docs/components/antd/flex/README.md
  docs/components/antd/flex/app.py
  docs/components/antd/flex/demos/align.py
  docs/components/antd/flex/demos/basic.py
  docs/components/antd/grid/README-zh_CN.md
  docs/components/antd/grid/README.md
  docs/components/antd/grid/app.py
  docs/components/antd/grid/demos/basic.py
  docs/components/antd/grid/demos/playground.py
  docs/helper/Site.py
  docs/src/pyproject.toml
  frontend/antd/radio/Index.svelte
  frontend/antd/segmented/Index.svelte
  frontend/svelte-preprocess-react/slot.ts
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update
  docs/app.py
  docs/components/antd/layout/README-zh_CN.md
  docs/components/antd/layout/README.md
  docs/components/antd/layout/app.py
  docs/components/antd/layout/demos/basic.py
  docs/components/antd/space/README-zh_CN.md
  docs/components/antd/space/README.md
  docs/components/antd/space/app.py
  docs/components/antd/space/demos/basic.py
  docs/components/antd/splitter/README-zh_CN.md
  docs/components/antd/splitter/README.md
  docs/components/antd/splitter/app.py
  docs/components/antd/splitter/demos/basic.py
  frontend/antd/input/textarea/input.textarea.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: lint
  frontend/antd/input/input.tsx
  frontend/antd/input/password/input.password.tsx
  frontend/antd/input/search/input.search.tsx
  frontend/antd/input/textarea/input.textarea.tsx
Due: pnpm run format, pnpm run lint:js

docs: update
  backend/modelscope_studio/components/antd/checkbox/group/option/__init__.py
  docs/app.py
  docs/components/antd/config_provider/demos/basic.py
  docs/components/antd/menu/README-zh_CN.md
  docs/components/antd/menu/README.md
  docs/components/antd/menu/app.py
  docs/components/antd/menu/demos/basic.py
  docs/components/antd/pagination/README-zh_CN.md
  docs/components/antd/pagination/README.md
  docs/components/antd/pagination/app.py
  docs/components/antd/pagination/demos/basic.py
  docs/components/antd/steps/README-zh_CN.md
  docs/components/antd/steps/README.md
  docs/components/antd/steps/app.py
  docs/components/antd/steps/demos/basic.py
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/pagination/Index.svelte
  frontend/svelte-preprocess-react/component.ts
  frontend/utils/hooks/useValueChange.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: known component issues
  .changeset/slimy-feet-nail.md
Due: pnpm run format

feat: add AutoLoading Component for frontend loading
  backend/modelscope_studio/components/base/__init__.py
  backend/modelscope_studio/components/base/auto_loading/__init__.py
  frontend/antd/config-provider/Index.svelte
  frontend/base/application/package.json
  frontend/base/auto-loading/Index.svelte
  frontend/base/auto-loading/auto-loading.less
  frontend/base/auto-loading/auto-loading.tsx
  frontend/base/auto-loading/gradio.config.js
  frontend/base/auto-loading/package.json
  frontend/base/each/package.json
  frontend/base/filter/package.json
  frontend/base/fragment/package.json
  frontend/base/slot/package.json
  frontend/base/span/package.json
  frontend/base/text/package.json
  frontend/plugin.js
  frontend/svelte-preprocess-react/component.ts
  frontend/svelte-preprocess-react/inject.ts
  frontend/svelte-preprocess-react/provider.ts
  frontend/svelte-preprocess-react/slot.ts
  pyproject.toml
  tsconfig.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: calc eta
  backend/modelscope_studio/components/base/auto_loading/__init__.py
  docs/app.py
  docs/components/base/auto_loading/README-zh_CN.md
  docs/components/base/auto_loading/README.md
  docs/components/base/auto_loading/app.py
  docs/components/base/auto_loading/demos/basic.py
  docs/components/base/fragment/README-zh_CN.md
  docs/components/base/slot/README-zh_CN.md
  docs/helper/Site.py
  frontend/base/auto-loading/auto-loading.less
  frontend/base/auto-loading/auto-loading.tsx
  frontend/base/auto-loading/useLoadingStatus.ts
  frontend/utils/hooks/useMemoizedFn.ts
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add AutoLoading
  .changeset/chilly-lemons-pretend.md
  docs/components/base/auto_loading/README-zh_CN.md
  docs/components/base/auto_loading/README.md
  docs/components/base/auto_loading/demos/basic.py
  docs/components/base/auto_loading/demos/nested.py
Due: pnpm run format, pnpm run lint:py

fix: auto_loading & cloned node
  .changeset/spotty-seals-poke.md
  backend/modelscope_studio/components/antd/auto_complete/option/__init__.py
  docs/app.py
  docs/components/antd/auto_complete/README-zh_CN.md
  docs/components/antd/auto_complete/README.md
  docs/components/antd/auto_complete/app.py
  docs/components/antd/auto_complete/demos/basic.py
  docs/components/antd/auto_complete/demos/lookup_patterns.py
  docs/components/antd/config_provider/demos/basic.py
  docs/components/antd/select/README-zh_CN.md
  docs/components/antd/select/README.md
  docs/components/antd/select/app.py
  docs/components/antd/select/demos/basic.py
  docs/helper/Docs.py
  frontend/antd/auto-complete/option/Index.svelte
  frontend/antd/flex/flex.tsx
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/svelte-preprocess-react/provider.ts
  frontend/svelte-preprocess-react/react-slot.tsx
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/pre.json
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antd/tree/tree.tsx
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/utils/createFunction.ts
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: slot context
  docs/components/antd/config_provider/demos/basic.py
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/antd/color-picker/Index.svelte
  frontend/base/slot/Index.svelte
  frontend/svelte-preprocess-react/slot.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: auto-loading & tour
  docs/app.py
  docs/components/antd/cascader/README-zh_CN.md
  docs/components/antd/cascader/README.md
  docs/components/antd/cascader/app.py
  docs/components/antd/cascader/demos/basic.py
  docs/components/antd/cascader/demos/panel.py
  docs/components/antd/tour/README-zh_CN.md
  docs/components/antd/tour/README.md
  docs/components/antd/tour/app.py
  docs/components/antd/tour/demos/basic.py
  frontend/antd/cascader/panel/cascader.panel.tsx
  frontend/antd/tour/Index.svelte
  frontend/antd/tour/step/Index.svelte
  frontend/base/auto-loading/useLoadingStatus.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update docs
  backend/modelscope_studio/components/antd/color_picker/__init__.py
  docs/app.py
  docs/components/antd/checkbox/README-zh_CN.md
  docs/components/antd/checkbox/README.md
  docs/components/antd/checkbox/app.py
  docs/components/antd/checkbox/demos/basic.py
  docs/components/antd/color_picker/README-zh_CN.md
  docs/components/antd/color_picker/README.md
  docs/components/antd/color_picker/app.py
  docs/components/antd/color_picker/demos/basic.py
  docs/components/antd/color_picker/demos/preset.py
  docs/components/antd/date_picker/README-zh_CN.md
  docs/components/antd/date_picker/README.md
  docs/components/antd/date_picker/app.py
  docs/components/antd/date_picker/demos/basic.py
  docs/components/antd/date_picker/demos/ranger_picker.py
  frontend/antd/color-picker/color-picker.tsx
  frontend/antd/color-picker/preset/Index.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: lint
  frontend/antd/color-picker/Index.svelte
Due: pnpm run format, pnpm run lint:js

feat: update docs
  .changeset/late-cameras-speak.md
  README.md
  backend/modelscope_studio/components/antd/mentions/__init__.py
  backend/modelscope_studio/components/antd/rate/__init__.py
  docs/README.md
  docs/app.py
  docs/components/antd/input/README-zh_CN.md
  docs/components/antd/input/README.md
  docs/components/antd/input/app.py
  docs/components/antd/input/demos/basic.py
  docs/components/antd/input_number/README-zh_CN.md
  docs/components/antd/input_number/README.md
  docs/components/antd/input_number/app.py
  docs/components/antd/input_number/demos/basic.py
  docs/components/antd/mentions/README-zh_CN.md
  docs/components/antd/mentions/README.md
  docs/components/antd/mentions/app.py
  docs/components/antd/mentions/demos/basic.py
  docs/components/antd/mentions/demos/dynamic_options.py
  docs/components/antd/radio/README-zh_CN.md
  docs/components/antd/radio/README.md
  docs/components/antd/radio/app.py
  docs/components/antd/radio/demos/basic.py
  docs/components/antd/rate/README-zh_CN.md
  docs/components/antd/rate/README.md
  docs/components/antd/rate/app.py
  docs/components/antd/rate/demos/basic.py
  frontend/antd/rate/rate.tsx
  frontend/utils/createFunction.ts
  frontend/utils/hooks/useFunction.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py
