Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

chore: update deps
  config/lint-config/eslint.js
  config/lint-config/package.json
  frontend/Chatbot/gradio.config.js
  frontend/Chatbot/package.json
  frontend/Flow/gradio.config.js
  frontend/Flow/package.json
  frontend/Flow/shared/Flow.svelte
  frontend/Markdown/gradio.config.js
  frontend/Markdown/package.json
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/gradio.config.js
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/gradio.config.js
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/shared/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

fix: github action
  .github/workflows/publish.yaml
Due: pnpm run format

feat: auth & compatibility
  backend/modelscope_studio/external.py
Due: pnpm run lint:py

fix: repo access for mgr.load
  backend/modelscope_studio/external.py
  config/lint-config/package.json
  frontend/Chatbot/package.json
  frontend/Flow/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:py

fix: token
  backend/modelscope_studio/external.py
  frontend/Flow/shared/Flow.svelte
Due: pnpm run lint:py

chore: changeset
  .changeset/rare-houses-compare.md
Due: pnpm run format

docs: add docs for mgr.load
  backend/modelscope_studio/external.py
  docs/README-zh_CN.md
  docs/README.md
  docs/api/app.py
  docs/api/load-zh_CN.md
  docs/api/load.md
  docs/app.py
  docs/components/Flow/README.md
Due: pnpm run format, pnpm run lint:py

chore: changeset
  .changeset/flat-teachers-watch.md
Due: pnpm run format

docs: fix
  docs/api/load-zh_CN.md
  docs/api/load.md
Due: pnpm run format

chore: lint rule
  .vscode/settings.json
  backend/modelscope_studio/external.py
  config/lint-config/eslint.js
  frontend/compiled/src/Markdown/components/custom/Chart.tsx
  frontend/compiled/tsconfig.json
  tsconfig.json
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: lint rule
  config/changelog/src/fix-changelog.ts
  config/lint-config/eslint.js
  frontend/Flow/shared/utils.ts
  frontend/MultimodalInput/shared/utils.ts
  frontend/WaterfallGallery/shared/Waterfall/createWaterfall.ts
  frontend/WaterfallGallery/shared/Waterfall/index.ts
  frontend/compiled/src/FileView/hooks/usePreview.ts
  frontend/compiled/src/FileView/index.tsx
  frontend/compiled/src/Flow/FlowContext.ts
  frontend/compiled/src/Flow/components/CustomComponent.tsx
  frontend/compiled/src/Flow/components/FileUpload.tsx
  frontend/compiled/src/Flow/flow-components/ConnectionHandle.tsx
  frontend/compiled/src/Flow/flow-components/ConnectionLine.tsx
  frontend/compiled/src/Flow/flow-components/Controls.tsx
  frontend/compiled/src/Flow/flow-components/Edge.tsx
  frontend/compiled/src/Flow/flow-components/Node.tsx
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Flow/type.ts
  frontend/compiled/src/Flow/utils.ts
  frontend/compiled/src/Markdown/components/Image.tsx
  frontend/compiled/src/Markdown/components/custom/SelectBox.tsx
  frontend/compiled/src/Markdown/context.ts
  frontend/compiled/src/Markdown/index.tsx
  frontend/compiled/src/Markdown/react-markdown.d.ts
  frontend/compiled/src/defineComponent.tsx
  frontend/compiled/src/mount.tsx
  frontend/compiled/src/shared/hooks/useCustomComponent.ts
  frontend/compiled/tsconfig.json
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

fix: type annotations
  config/lint-config/eslint.js
  frontend/compiled/src/Markdown/components/custom/Chart.tsx
Due: pnpm run format, pnpm run lint:js

feat: upload logic with new gradio version
  .changeset/purple-buttons-lie.md
  config/changelog/package.json
  frontend/Chatbot/package.json
  frontend/Flow/Index.svelte
  frontend/Flow/package.json
  frontend/Flow/shared/Flow.svelte
  frontend/Markdown/package.json
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/src/Flow/flow-components/ConnectionHandle.tsx
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/flat-teachers-watch.md
  .changeset/purple-buttons-lie.md
  .changeset/rare-houses-compare.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: deps
  docs/requirements.txt
Due: none

feat: add Lifecycle component
  .changeset/gentle-mails-play.md
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/Lifecycle/__init__.py
  backend/modelscope_studio/components/__init__.py
  config/changelog/package.json
  config/lint-config/eslint.js
  config/lint-config/package.json
  frontend/Chatbot/package.json
  frontend/Flow/package.json
  frontend/Flow/shared/Flow.svelte
  frontend/Lifecycle/index.svelte
  frontend/Lifecycle/package.json
  frontend/Lifecycle/shared/utils.ts
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/src/Flow/utils.ts
  frontend/package.json
  frontend/shared/package.json
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: support gradio 4.35.0 in mgr.load
  .changeset/wicked-stingrays-marry.md
  backend/modelscope_studio/external.py
Due: pnpm run format, pnpm run lint:py

fix: lint
  .flake8
Due: none

fix: support gradio 4.35.0 in mgr.load (#23)
  .changeset/wicked-stingrays-marry.md
  backend/modelscope_studio/external.py
Due: pnpm run format, pnpm run lint:py

chore: update versions
  .changeset/wicked-stingrays-marry.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: add docs for Lifecycle component
  README-zh_CN.md
  README.md
  backend/modelscope_studio/components/Lifecycle/__init__.py
  docs/README-zh_CN.md
  docs/README.md
  docs/app.py
  docs/components/Lifecycle/README-zh_CN.md
  docs/components/Lifecycle/README.md
  docs/components/Lifecycle/app.py
  docs/components/Lifecycle/demos/basic.py
  docs/components/Lifecycle/demos/language_adaptation.py
  docs/components/Lifecycle/demos/theme_adaptation.py
Due: pnpm run format, pnpm run lint:py

feat: add event callback
  backend/modelscope_studio/components/Lifecycle/__init__.py
  frontend/Lifecycle/index.svelte
Due: pnpm run lint:py

chore: update deps
  config/lint-config/package.json
  frontend/compiled/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format

Feat: Add Lifecycle Component (#24)
  .changeset/gentle-mails-play.md
  .flake8
  README-zh_CN.md
  README.md
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/Lifecycle/__init__.py
  backend/modelscope_studio/components/__init__.py
  config/changelog/package.json
  config/lint-config/eslint.js
  config/lint-config/package.json
  docs/README-zh_CN.md
  docs/README.md
  docs/app.py
  docs/components/Lifecycle/README-zh_CN.md
  docs/components/Lifecycle/README.md
  docs/components/Lifecycle/app.py
  docs/components/Lifecycle/demos/basic.py
  docs/components/Lifecycle/demos/language_adaptation.py
  docs/components/Lifecycle/demos/theme_adaptation.py
  frontend/Chatbot/package.json
  frontend/Flow/package.json
  frontend/Flow/shared/Flow.svelte
  frontend/Lifecycle/index.svelte
  frontend/Lifecycle/package.json
  frontend/Lifecycle/shared/utils.ts
  frontend/MultimodalInput/Index.svelte
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/src/Flow/utils.ts
  frontend/package.json
  frontend/shared/package.json
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: placeholder for building
  frontend/Lifecycle/index.svelte
Due: none

chore: update versions
  .changeset/gentle-mails-play.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

chore: migrating to eslint 9
  .eslintignore
  .eslintrc.js
  config/changelog/package.json
  config/lint-config/configs/eslint/basic.mjs
  config/lint-config/configs/eslint/react.mjs
  config/lint-config/configs/eslint/svelte.mjs
  config/lint-config/configs/eslint/typescript.mjs
  config/lint-config/eslint.js
  config/lint-config/eslint.mjs
  config/lint-config/package.json
  eslint.config.mjs
  frontend/Chatbot/shared/LikeDislike.svelte
  frontend/MultimodalInput/package.json
  frontend/MultimodalInput/shared/AudioRecorder.svelte
  frontend/MultimodalInput/shared/Input.svelte
  frontend/MultimodalInput/shared/Webcam.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
  frontend/compiled/package.json
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Markdown/components/custom/FlushingEnd.tsx
  frontend/compiled/src/Markdown/index.tsx
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  stylelint.config.cjs
Due: pnpm run format, pnpm run lint:js

chore: migrating to eslint 9 (#25)
  .eslintignore
  .eslintrc.js
  config/changelog/package.json
  config/lint-config/configs/eslint/basic.mjs
  config/lint-config/configs/eslint/react.mjs
  config/lint-config/configs/eslint/svelte.mjs
  config/lint-config/configs/eslint/typescript.mjs
  config/lint-config/eslint.js
  config/lint-config/eslint.mjs
  config/lint-config/package.json
  eslint.config.mjs
  frontend/Chatbot/shared/LikeDislike.svelte
  frontend/MultimodalInput/package.json
  frontend/MultimodalInput/shared/AudioRecorder.svelte
  frontend/MultimodalInput/shared/Input.svelte
  frontend/MultimodalInput/shared/Webcam.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
  frontend/compiled/package.json
  frontend/compiled/src/Flow/index.tsx
  frontend/compiled/src/Markdown/components/custom/FlushingEnd.tsx
  frontend/compiled/src/Markdown/index.tsx
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  stylelint.config.cjs
Due: pnpm run format, pnpm run lint:js

fix: audio recorder of MultimodalInput
  .changeset/grumpy-mirrors-sleep.md
  .gitignore
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/external.py
  frontend/MultimodalInput/shared/AudioRecorder.svelte
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:py

fix: audio recorder of MultimodalInput (#27)
  .changeset/grumpy-mirrors-sleep.md
  .gitignore
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/external.py
  frontend/MultimodalInput/shared/AudioRecorder.svelte
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:py

chore: update versions
  .changeset/grumpy-mirrors-sleep.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: process base64 link
  .changeset/nine-goats-warn.md
  backend/modelscope_studio/utils/process_links.py
Due: pnpm run format, pnpm run lint:py

fix: process base64 link (#29)
  .changeset/nine-goats-warn.md
  backend/modelscope_studio/utils/process_links.py
Due: pnpm run format, pnpm run lint:py

chore: update versions
  .changeset/nine-goats-warn.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  frontend/CHANGELOG.md
  frontend/Chatbot/CHANGELOG.md
  frontend/Chatbot/package.json
  frontend/Flow/CHANGELOG.md
  frontend/Flow/package.json
  frontend/Lifecycle/CHANGELOG.md
  frontend/Lifecycle/package.json
  frontend/Markdown/CHANGELOG.md
  frontend/Markdown/package.json
  frontend/MultimodalInput/CHANGELOG.md
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/CHANGELOG.md
  frontend/WaterfallGallery/package.json
  frontend/compiled/CHANGELOG.md
  frontend/compiled/package.json
  frontend/package.json
  frontend/shared/CHANGELOG.md
  frontend/shared/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: file path
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Chatbot/demos/accordion.py
  docs/components/Flow/demos/basic.py
  docs/components/Flow/demos/component_options.py
  docs/components/Flow/demos/custom_node_type.py
  docs/components/Flow/schema/agents_schema.py
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/Index.svelte
  frontend/legacy/Chatbot/shared/ChatBot.svelte
  frontend/legacy/Chatbot/shared/FlushingMarkdown.svelte
  frontend/legacy/Flow/Index.svelte
  frontend/legacy/Flow/schema.ts
  frontend/legacy/Flow/shared/Flow.svelte
  frontend/legacy/Flow/shared/utils.ts
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/Example.svelte
  frontend/legacy/Markdown/Index.svelte
  frontend/legacy/Markdown/shared/Markdown.svelte
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/shared/FilePreview.svelte
  frontend/legacy/compiled/CHANGELOG.md
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: ci
  .github/workflows/lint.yaml
  backend/modelscope_studio/external.py
  docs/antd.py
  docs/components/Chatbot/demos/basic.py
  docs/components/Chatbot/demos/chart.py
  docs/components/Chatbot/demos/message_config.py
  docs/components/Chatbot/demos/multi_bots.py
  docs/components/Chatbot/demos/multimodal.py
  docs/components/Chatbot/demos/select-box.py
  docs/components/Docs.py
  docs/components/Lifecycle/demos/basic.py
  docs/components/Lifecycle/demos/language_adaptation.py
  docs/components/Lifecycle/demos/theme_adaptation.py
  docs/components/Markdown/demos/accordion.py
  docs/components/Markdown/demos/basic.py
  docs/components/Markdown/demos/chart.py
  docs/components/Markdown/demos/custom-tag.py
  docs/components/Markdown/demos/custom-tag2.py
  docs/components/Markdown/demos/custom-tag3.py
  docs/components/Markdown/demos/custom-tag4.py
  docs/components/Markdown/demos/custom_tags/accordion/accordion-title.py
  docs/components/Markdown/demos/custom_tags/accordion/basic.py
  docs/components/Markdown/demos/custom_tags/chart/basic.py
  docs/components/Markdown/demos/custom_tags/select-box/basic.py
  docs/components/Markdown/demos/custom_tags/select-box/card_shape.py
  docs/components/Markdown/demos/custom_tags/select-box/card_shape_width_auto.py
  docs/components/Markdown/demos/custom_tags/select-box/python_events.py
  docs/components/Markdown/demos/multimodal.py
  docs/components/Markdown/demos/select-box.py
  docs/components/MultimodalInput/demos/basic.py
  docs/components/MultimodalInput/demos/config_buttons.py
  docs/components/MultimodalInput/demos/upload_sources.py
  docs/components/MultimodalInput/demos/with_chatbot.py
  docs/components/WaterfallGallery/demos/basic.py
  docs/components/WaterfallGallery/demos/like_click_feedback.py
  docs/components/WaterfallGallery/demos/load_more.py
  docs/components/WaterfallGallery/demos/responsive_columns.py
Due: pnpm run format, pnpm run lint:py

fix: component entry
  backend/modelscope_studio/__init__.py
  pyproject.toml
Due: pnpm run lint:py
