Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/tidy-pandas-battle.md
  .changeset/tidy-poets-invent.md
Due: pnpm run format

fix: lint
  .flake8
Due: none

feat: add layout template `coder-artifacts` (#51)
  .changeset/tidy-pandas-battle.md
  .changeset/tidy-poets-invent.md
  .flake8
  backend/modelscope_studio/components/base/application/__init__.py
  docs/app.py
  docs/helper/Docs.py
  docs/helper/Site.py
  docs/helper/parse_markdown.py
  docs/layout_templates/coder_artifacts/README-zh_CN.md
  docs/layout_templates/coder_artifacts/README.md
  docs/layout_templates/coder_artifacts/app.py
  docs/layout_templates/coder_artifacts/demos/app.py
  docs/requirements.txt
  frontend/base/application/Application.svelte
  frontend/base/markdown/index.less
  frontend/base/markdown/markdown.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: fix render & add docs
  backend/modelscope_studio/components/antdx/bubble/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/item/__init__.py
  docs/app.py
  docs/components/antd/table/demos/custom_columns.py
  docs/components/antdx/bubble/README-zh_CN.md
  docs/components/antdx/bubble/README.md
  docs/components/antdx/bubble/app.py
  docs/components/antdx/bubble/demos/basic.py
  docs/components/antdx/bubble/demos/bubble_list.py
  docs/components/antdx/bubble/demos/custom_list_content.py
  docs/components/antdx/bubble/demos/typing_effect.py
  docs/components/antdx/bubble/demos/variant.py
  docs/components/antdx/overview/README-zh_CN.md
  docs/components/antdx/overview/README.md
  docs/components/antdx/overview/app.py
  docs/components/antdx/overview/demos/quick_start.py
  docs/components/antdx/prompts/README-zh_CN.md
  docs/components/antdx/prompts/README.md
  docs/components/antdx/prompts/app.py
  docs/components/antdx/prompts/demos/basic.py
  docs/components/antdx/prompts/demos/nest_usage.py
  docs/components/antdx/welcome/README-zh_CN.md
  docs/components/antdx/welcome/README.md
  docs/components/antdx/welcome/app.py
  docs/components/antdx/welcome/demos/basic.py
  docs/layout_templates/coder_artifacts/demos/app.py
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/bubble/bubble.tsx
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/role/Role.svelte
  frontend/svelte-preprocess-react/component.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/utils/renderSlot.tsx
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: lint
  package.json
  pyproject.toml
Due: pnpm run format

Create few-jeans-design.md
  .changeset/few-jeans-design.md
Due: pnpm run format

fix: slider type
  backend/modelscope_studio/components/antd/slider/__init__.py
Due: pnpm run lint:py

Fix type declaration error or antd.Slider.value (#50)
  .changeset/few-jeans-design.md
  backend/modelscope_studio/components/antd/slider/__init__.py
Due: pnpm run format, pnpm run lint:py

fix: bubble render
  backend/modelscope_studio/components/antdx/bubble/list/role/__init__.py
  docs/app.py
  docs/components/antdx/bubble/README-zh_CN.md
  docs/components/antdx/bubble/README.md
  docs/components/antdx/bubble/demos/bubble_list.py
  docs/components/antdx/bubble/demos/chatbot.py
  docs/components/antdx/conversations/README-zh_CN.md
  docs/components/antdx/conversations/README.md
  docs/components/antdx/conversations/app.py
  docs/components/antdx/conversations/demos/basic.py
  docs/components/antdx/conversations/demos/group.py
  docs/components/antdx/conversations/demos/operations.py
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/role/Role.svelte
  frontend/antdx/conversations/conversations.tsx
  frontend/antdx/conversations/index.less
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
  frontend/svelte-preprocess-react/react-slot.tsx
  frontend/utils/patchProps.ts
  frontend/utils/patchProps.tsx
  frontend/utils/renderItems.tsx
  frontend/utils/renderSlot.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: replace dashScope with modelscope inference api
  docs/layout_templates/coder_artifacts/demos/app.py
  docs/requirements.txt
Due: pnpm run lint:py

chore: add changeset
  .changeset/funny-planes-join.md
Due: pnpm run format

chore: update versions
  .changeset/few-jeans-design.md
  .changeset/funny-planes-join.md
  .changeset/tidy-pandas-battle.md
  .changeset/tidy-poets-invent.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: docs
  docs/helper/Docs.py
Due: pnpm run lint:py

fix: render slot
  .changeset/chilled-spoons-serve.md
  backend/modelscope_studio/components/antd/upload/__init__.py
  backend/modelscope_studio/components/antd/upload/dragger/__init__.py
  backend/modelscope_studio/components/antdx/attachments/__init__.py
  backend/modelscope_studio/components/antdx/sender/header/__init__.py
  docs/app.py
  docs/components/antdx/attachments/README-zh_CN.md
  docs/components/antdx/attachments/README.md
  docs/components/antdx/attachments/app.py
  docs/components/antdx/attachments/demos/basic.py
  docs/components/antdx/attachments/demos/combination.py
  docs/components/antdx/attachments/demos/file_card.py
  docs/layout_templates/coder_artifacts/demos/app.py
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/sender/sender.tsx
  frontend/svelte-preprocess-react/context.ts
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
  frontend/utils/renderParamsSlot.tsx
  frontend/utils/renderSlot.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/chilled-spoons-serve.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: docs
  docs/app.py
Due: pnpm run lint:py

fix: react slots clone & unexpected style
  .changeset/pink-paws-sleep.md
  backend/modelscope_studio/components/antd/transfer/__init__.py
  docs/app.py
  docs/components/antdx/attachments/README-zh_CN.md
  docs/components/antdx/attachments/README.md
  docs/components/antdx/attachments/demos/file_card.py
  docs/components/antdx/bubble/demos/typing_effect.py
  docs/components/antdx/sender/README-zh_CN.md
  docs/components/antdx/sender/README.md
  docs/components/antdx/sender/app.py
  docs/components/antdx/sender/demos/basic.py
  docs/components/antdx/sender/demos/header_panel.py
  docs/components/antdx/sender/demos/submit_type.py
  frontend/antdx/sender/sender.tsx
  frontend/base/markdown/index.less
  frontend/base/markdown/markdown.tsx
  frontend/svelte-preprocess-react/context.ts
  frontend/utils/renderItems.tsx
  frontend/utils/renderParamsSlot.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: react slots clone & unexpected style (#56)
  .changeset/pink-paws-sleep.md
  backend/modelscope_studio/components/antd/transfer/__init__.py
  docs/app.py
  docs/components/antdx/attachments/README-zh_CN.md
  docs/components/antdx/attachments/README.md
  docs/components/antdx/attachments/demos/file_card.py
  docs/components/antdx/bubble/demos/typing_effect.py
  docs/components/antdx/sender/README-zh_CN.md
  docs/components/antdx/sender/README.md
  docs/components/antdx/sender/app.py
  docs/components/antdx/sender/demos/basic.py
  docs/components/antdx/sender/demos/header_panel.py
  docs/components/antdx/sender/demos/submit_type.py
  frontend/antdx/sender/sender.tsx
  frontend/base/markdown/index.less
  frontend/base/markdown/markdown.tsx
  frontend/svelte-preprocess-react/context.ts
  frontend/utils/renderItems.tsx
  frontend/utils/renderParamsSlot.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/pink-paws-sleep.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: docs for antdx
  .changeset/plenty-bulldogs-hang.md
  docs/app.py
  docs/components/antdx/bubble/demos/chatbot.py
  docs/components/antdx/suggestion/README-zh_CN.md
  docs/components/antdx/suggestion/README.md
  docs/components/antdx/suggestion/app.py
  docs/components/antdx/suggestion/demos/basic.py
  docs/components/antdx/suggestion/demos/block.py
  docs/components/antdx/suggestion/demos/controlled_by_python.py
  docs/components/antdx/thought_chain/README-zh_CN.md
  docs/components/antdx/thought_chain/README.md
  docs/components/antdx/thought_chain/app.py
  docs/components/antdx/thought_chain/demos/basic.py
  docs/components/antdx/thought_chain/demos/item_status.py
  docs/components/antdx/thought_chain/demos/nested_use.py
  docs/components/antdx/x_provider/README-zh_CN.md
  docs/components/antdx/x_provider/README.md
  docs/components/antdx/x_provider/app.py
  docs/components/base/application/demos/language_adaptation.py
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/suggestion/item/Index.svelte
  frontend/antdx/suggestion/suggestion.tsx
  frontend/utils/createItemsContext.tsx
  frontend/utils/patchSlots.ts
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update changeset
  .changeset/plenty-bulldogs-hang.md
Due: pnpm run format

docs: the documentation for antdx is ready (#57)
  .changeset/plenty-bulldogs-hang.md
  docs/app.py
  docs/components/antdx/bubble/demos/chatbot.py
  docs/components/antdx/suggestion/README-zh_CN.md
  docs/components/antdx/suggestion/README.md
  docs/components/antdx/suggestion/app.py
  docs/components/antdx/suggestion/demos/basic.py
  docs/components/antdx/suggestion/demos/block.py
  docs/components/antdx/suggestion/demos/controlled_by_python.py
  docs/components/antdx/thought_chain/README-zh_CN.md
  docs/components/antdx/thought_chain/README.md
  docs/components/antdx/thought_chain/app.py
  docs/components/antdx/thought_chain/demos/basic.py
  docs/components/antdx/thought_chain/demos/item_status.py
  docs/components/antdx/thought_chain/demos/nested_use.py
  docs/components/antdx/x_provider/README-zh_CN.md
  docs/components/antdx/x_provider/README.md
  docs/components/antdx/x_provider/app.py
  docs/components/base/application/demos/language_adaptation.py
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/suggestion/item/Index.svelte
  frontend/antdx/suggestion/suggestion.tsx
  frontend/utils/createItemsContext.tsx
  frontend/utils/patchSlots.ts
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/plenty-bulldogs-hang.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: parameters memory in the render function
  .changeset/wise-starfishes-shave.md
  frontend/svelte-preprocess-react/context.ts
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js

feat: update deps and add new features
  .changeset/thick-spiders-clean.md
  backend/modelscope_studio/components/antd/carousel/__init__.py
  backend/modelscope_studio/components/antd/cascader/__init__.py
  backend/modelscope_studio/components/antd/date_picker/__init__.py
  backend/modelscope_studio/components/antd/date_picker/range_picker/__init__.py
  backend/modelscope_studio/components/antd/divider/__init__.py
  backend/modelscope_studio/components/antd/form/__init__.py
  backend/modelscope_studio/components/antd/input/__init__.py
  backend/modelscope_studio/components/antd/input/otp/__init__.py
  backend/modelscope_studio/components/antd/input/password/__init__.py
  backend/modelscope_studio/components/antd/input/search/__init__.py
  backend/modelscope_studio/components/antd/input/textarea/__init__.py
  backend/modelscope_studio/components/antd/input_number/__init__.py
  backend/modelscope_studio/components/antd/mentions/__init__.py
  backend/modelscope_studio/components/antd/notification/__init__.py
  backend/modelscope_studio/components/antd/progress/__init__.py
  backend/modelscope_studio/components/antd/segmented/__init__.py
  backend/modelscope_studio/components/antd/select/__init__.py
  backend/modelscope_studio/components/antd/time_picker/__init__.py
  backend/modelscope_studio/components/antd/time_picker/range_picker/__init__.py
  backend/modelscope_studio/components/antd/tree_select/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antd/input/otp/Index.svelte
  frontend/antd/input/otp/input.otp.tsx
  frontend/antd/notification/notification.tsx
  frontend/antd/progress/progress.tsx
  frontend/antd/segmented/Index.svelte
  frontend/antd/typography/typography.base.tsx
  frontend/legacy/compiled/package.json
  frontend/legacy/compiled/src/Flow/flow-components/ConnectionLine.tsx
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/thick-spiders-clean.md
  .changeset/wise-starfishes-shave.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/components/antdx/bubble/demos/chatbot.py
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antd/progress/progress.tsx
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add layout template `chatbot`
  .changeset/hot-tomatoes-beam.md
  .changeset/selfish-apes-punch.md
  docs/app.py
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/app.py
  docs/layout_templates/chatbot/demos/app.py
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/attachments/file-card/Index.svelte
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/sender/sender.tsx
  frontend/antdx/suggestion/suggestion.tsx
  frontend/base/filter/filter.tsx
  frontend/svelte-preprocess-react/context.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add layout template `chatbot` (#58)
  .changeset/hot-tomatoes-beam.md
  .changeset/selfish-apes-punch.md
  docs/app.py
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/app.py
  docs/layout_templates/chatbot/demos/app.py
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/attachments/file-card/Index.svelte
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/sender/sender.tsx
  frontend/antdx/suggestion/suggestion.tsx
  frontend/base/filter/filter.tsx
  frontend/svelte-preprocess-react/context.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/hot-tomatoes-beam.md
  .changeset/selfish-apes-punch.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: fix EN docs
  docs/layout_templates/chatbot/README.md
Due: pnpm run format

feat: update deps & optimize the `chatbot` template
  .changeset/breezy-moons-hammer.md
  config/changelog/package.json
  config/lint-config/package.json
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/app.py
  docs/layout_templates/coder_artifacts/README.md
  frontend/antd/divider/divider.tsx
  frontend/package.json
  frontend/svelte-preprocess-react/react-slot.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/breezy-moons-hammer.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: `attachments.file_card` supports url strings
  .changeset/tiny-lemons-worry.md
  docs/components/antdx/suggestion/demos/block.py
  docs/layout_templates/chatbot/demos/app.py
  docs/layout_templates/coder_artifacts/demos/app.py
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: update .gitignore
  .gitignore
Due: none

feat: update
  .changeset/cool-clouds-spend.md
  .changeset/short-results-sin.md
  backend/modelscope_studio/components/antdx/attachments/file_card/__init__.py
  docs/layout_templates/chatbot/demos/app.py
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/utils.tsx
  frontend/base/markdown/Index.svelte
  frontend/base/markdown/markdown.tsx
  frontend/globals/components/index.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/markdown.less
  frontend/globals/components/markdown/prism.less
  frontend/globals/components/markdown/sanitize.ts
  frontend/globals/components/markdown/utils.ts
  frontend/plugin.js
  frontend/svelte-preprocess-react/inject.ts
  tsconfig.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add Markdown as a global component & update the chatbot template (#60)
  .changeset/cool-clouds-spend.md
  .changeset/short-results-sin.md
  backend/modelscope_studio/components/antdx/attachments/file_card/__init__.py
  docs/layout_templates/chatbot/demos/app.py
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/utils.tsx
  frontend/base/markdown/Index.svelte
  frontend/base/markdown/markdown.tsx
  frontend/globals/components/index.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/markdown.less
  frontend/globals/components/markdown/prism.less
  frontend/globals/components/markdown/sanitize.ts
  frontend/globals/components/markdown/utils.ts
  frontend/plugin.js
  frontend/svelte-preprocess-react/inject.ts
  tsconfig.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(pro-components): add Chatbot
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/pro/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  backend/modelscope_studio/components/pro/components.py
  backend/modelscope_studio/utils/dev/resolve_frontend_dir.py
  frontend/pro/chatbot/Index.svelte
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot-header.tsx
  frontend/pro/chatbot/chatbot.less
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/gradio.config.js
  frontend/pro/chatbot/message.tsx
  frontend/pro/chatbot/messages/file.tsx
  frontend/pro/chatbot/messages/suggestion.tsx
  frontend/pro/chatbot/messages/text.tsx
  frontend/pro/chatbot/messages/thought.tsx
  frontend/pro/chatbot/package.json
  frontend/pro/chatbot/type.ts
  frontend/pro/chatbot/utils.ts
  frontend/pro/package.json
  pnpm-workspace.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: welcome config & python events
  backend/modelscope_studio/components/antdx/welcome/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  frontend/antdx/welcome/Index.svelte
  frontend/antdx/welcome/welcome.tsx
  frontend/pro/chatbot/Index.svelte
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/message.tsx
  frontend/pro/chatbot/messages/suggestion.tsx
  frontend/pro/chatbot/messages/welcome.tsx
  frontend/pro/chatbot/type.ts
  frontend/utils/omitUndefinedProps.ts
  frontend/utils/upload.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add MultimodalInput & refactor Chatbot message content & update docs
  README-zh_CN.md
  README.md
  backend/modelscope_studio/components/pro/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  backend/modelscope_studio/components/pro/components.py
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/README-zh_CN.md
  docs/README.md
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/app.py
  frontend/antdx/attachments/attachments.tsx
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/message.tsx
  frontend/pro/chatbot/type.ts
  frontend/pro/chatbot/utils.ts
  frontend/pro/multimodal-input/Index.svelte
  frontend/pro/multimodal-input/gradio.config.js
  frontend/pro/multimodal-input/multimodal-input.tsx
  frontend/pro/multimodal-input/package.json
  frontend/utils/convertToCamelCase.ts
  pyproject.toml
  resources/chatbot-template.png
  resources/coder-artifacts-template.png
  resources/site.png
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

Path conditions:
  pnpm run lint:style: any of: *.{less,css}
  pnpm run format: ((any of: *.{less,css}) or (any of: *.{js,jsx,ts,tsx,svelte})) or (any of: *.{md,yaml,yml,json,html})
  pnpm run lint:js: any of: *.{js,jsx,ts,tsx,svelte}
  pnpm run lint:py: any of: *.py
