Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: layout
  config/lint-config/configs/eslint/typescript.mjs
  frontend/antd/button/Index.svelte
  frontend/antd/button/button.tsx
  frontend/antd/dropdown/button/Index.svelte
  frontend/antd/dropdown/button/dropdown.button.tsx
  frontend/antd/dropdown/dropdown.tsx
  frontend/antd/tag/Index.svelte
  frontend/antd/tag/checkable-tag/Index.svelte
  frontend/antd/tag/checkable-tag/tag.checkable-tag.tsx
  frontend/antd/typography/typography.base.tsx
Due: pnpm run format, pnpm run lint:js

chore: add changeset
  .changeset/swift-apricots-rest.md
Due: pnpm run format

fix: layout (#41)
  .changeset/swift-apricots-rest.md
  config/lint-config/configs/eslint/typescript.mjs
  frontend/antd/button/Index.svelte
  frontend/antd/button/button.tsx
  frontend/antd/dropdown/button/Index.svelte
  frontend/antd/dropdown/button/dropdown.button.tsx
  frontend/antd/dropdown/dropdown.tsx
  frontend/antd/tag/Index.svelte
  frontend/antd/tag/checkable-tag/Index.svelte
  frontend/antd/tag/checkable-tag/tag.checkable-tag.tsx
  frontend/antd/typography/typography.base.tsx
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/swift-apricots-rest.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

refactor(wip): params render
  backend/modelscope_studio/components/base/div/__init__.py
  backend/modelscope_studio/components/base/span/__init__.py
  backend/modelscope_studio/components/base/text/__init__.py
  frontend/base/div/Index.svelte
  frontend/base/div/div.tsx
  frontend/base/each/Each.svelte
  frontend/base/each/each.tsx
  frontend/base/slot/Index.svelte
  frontend/base/span/Index.svelte
  frontend/base/span/span.tsx
  frontend/base/text/Index.svelte
  frontend/base/text/global.css
  frontend/base/text/text.tsx
  frontend/svelte-preprocess-react/context.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: foceClone
  docs/components/antd/list/demos/vertical_item.py
  docs/components/antd/table/demos/basic.py
  docs/components/antd/table/demos/custom_columns.py
  docs/components/antd/table/demos/expandable_row.py
  docs/components/antd/table/demos/order_specific_column.py
  docs/components/antd/table/demos/pagination.py
  docs/components/antd/table/demos/selection.py
  docs/components/base/each/demos/basic.py
  docs/components/base/each/demos/use_as_item.py
  docs/components/base/each/demos/use_context_value.py
  docs/components/base/filter/demos/basic.py
  docs/components/base/filter/demos/use_as_item.py
  docs/components/base/filter/demos/use_params_mapping.py
  frontend/antd/list/list.tsx
  frontend/base/filter/filter.tsx
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
  frontend/svelte-preprocess-react/react-slot.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: form item context
  frontend/svelte-preprocess-react/context.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
Due: pnpm run format, pnpm run lint:js

feat: update deps
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/calendar/__init__.py
  backend/modelscope_studio/components/antd/color_picker/preset/__init__.py
  backend/modelscope_studio/components/antd/mentions/__init__.py
  backend/modelscope_studio/components/antd/splitter/__init__.py
  backend/modelscope_studio/components/antd/transfer/__init__.py
  backend/modelscope_studio/components/antd/tree_select/__init__.py
  config/changelog/package.json
  config/changelog/src/index.ts
  config/lint-config/package.json
  frontend/antd/alert/error-boundary/alert.error-boundary.tsx
  frontend/antd/button/button.tsx
  frontend/antd/mentions/Index.svelte
  frontend/legacy/compiled/package.json
  frontend/legacy/compiled/src/Markdown/rehype-plugins/rehype-Inline-code-property.ts
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: col context render
  frontend/antd/grid/col/Index.svelte
  frontend/antd/grid/col/col.tsx
  frontend/antd/grid/context.ts
  frontend/antd/grid/context.tsx
  frontend/antd/grid/row/Index.svelte
  frontend/antd/grid/row/row.tsx
  frontend/antd/icon/Index.svelte
  frontend/antd/icon/icon.tsx
  frontend/antd/icon/iconfont-provider/Index.svelte
  frontend/antd/icon/iconfont-provider/context.ts
  frontend/antd/icon/iconfont-provider/create-iconfont.ts
  frontend/antd/icon/iconfont-provider/iconfont-provider.tsx
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
Due: pnpm run format, pnpm run lint:js

fix: force clone
  frontend/antd/grid/context.ts
  frontend/antd/table/column/Column.svelte
  frontend/base/each/EachItem.svelte
  frontend/base/each/Index.svelte
  frontend/base/each/each.tsx
  frontend/base/span/span.tsx
  frontend/svelte-preprocess-react/context.ts
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
  frontend/svelte-preprocess-react/slot.ts
  frontend/utils/createItemsContext2.tsx
  frontend/utils/renderItems.tsx
  frontend/utils/renderParamsSlot.tsx
Due: pnpm run format, pnpm run lint:js

fix: renderItems
  frontend/antd/anchor/Index.svelte
  frontend/antd/anchor/anchor.tsx
  frontend/antd/anchor/context.ts
  frontend/antd/anchor/item/Index.svelte
  frontend/antd/anchor/item/anchor.item.tsx
  frontend/antd/grid/col/Index.svelte
  frontend/antd/grid/col/col.tsx
  frontend/antd/grid/context.ts
  frontend/antd/grid/row/row.tsx
  frontend/utils/createItemsContext2.tsx
  frontend/utils/hooks/useMemoizedEqualValue.ts
Due: pnpm run format, pnpm run lint:js

refactor: autocomplete
  frontend/antd/anchor/anchor.tsx
  frontend/antd/anchor/item/anchor.item.tsx
  frontend/antd/auto-complete/Index.svelte
  frontend/antd/auto-complete/auto-complete.tsx
  frontend/antd/auto-complete/context.ts
  frontend/antd/auto-complete/option/Index.svelte
  frontend/antd/auto-complete/option/auto-complete.option.tsx
  frontend/base/each/Index.svelte
  frontend/base/each/each.tsx
  frontend/base/filter/Index.svelte
  frontend/base/fragment/Index.svelte
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/utils/createItemsContext2.tsx
  frontend/utils/hooks/useUpdate.ts
  frontend/utils/renderItems.tsx
Due: pnpm run format, pnpm run lint:js

refactor: Menu, Dropdown, Breadcrumb
  frontend/antd/anchor/anchor.tsx
  frontend/antd/breadcrumb/Index.svelte
  frontend/antd/breadcrumb/breadcrumb.tsx
  frontend/antd/breadcrumb/context.ts
  frontend/antd/breadcrumb/item/BreadcrumbItem.svelte
  frontend/antd/breadcrumb/item/Index.svelte
  frontend/antd/breadcrumb/item/breadcrumb.item.tsx
  frontend/antd/dropdown/Index.svelte
  frontend/antd/dropdown/button/Index.svelte
  frontend/antd/dropdown/button/dropdown.button.tsx
  frontend/antd/dropdown/dropdown.tsx
  frontend/antd/menu/Index.svelte
  frontend/antd/menu/context.ts
  frontend/antd/menu/item/Index.svelte
  frontend/antd/menu/item/menu.item.tsx
  frontend/antd/menu/menu.tsx
  frontend/utils/createItemsContext2.tsx
  frontend/utils/renderParamsSlot.tsx
Due: pnpm run format, pnpm run lint:js

refactor: table
  docs/components/antd/table/demos/custom_columns.py
  docs/components/antd/table/demos/expandable_row.py
  docs/components/antd/table/demos/order_specific_column.py
  frontend/antd/table/Index.svelte
  frontend/antd/table/column-group/Index.svelte
  frontend/antd/table/column-group/table.column-group.tsx
  frontend/antd/table/column/Column.svelte
  frontend/antd/table/column/Index.svelte
  frontend/antd/table/column/table.column.tsx
  frontend/antd/table/context.ts
  frontend/antd/table/expandable/Expandable.svelte
  frontend/antd/table/expandable/Index.svelte
  frontend/antd/table/expandable/table.expandable.tsx
  frontend/antd/table/row-selection/Index.svelte
  frontend/antd/table/row-selection/RowSelection.svelte
  frontend/antd/table/row-selection/selection/Index.svelte
  frontend/antd/table/row-selection/selection/table.row-selection.selection.tsx
  frontend/antd/table/row-selection/table.row-selection.tsx
  frontend/antd/table/table.tsx
  frontend/utils/createFunction.ts
  frontend/utils/createItemsContext2.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: patch props
  frontend/base/div/Index.svelte
  frontend/base/span/Index.svelte
  frontend/svelte-preprocess-react/internal/BridgeContext.tsx
Due: pnpm run format, pnpm run lint:js

fix: render
  frontend/base/div/div.tsx
  frontend/base/span/span.tsx
  frontend/svelte-preprocess-react/react-slot.tsx
  frontend/utils/style.ts
Due: pnpm run format, pnpm run lint:js

fix: collapse
  frontend/antd/collapse/collapse.tsx
Due: pnpm run format, pnpm run lint:js

Create flat-ways-sin.md
  .changeset/flat-ways-sin.md
Due: pnpm run format

chore: add changeset
  .changeset/large-terms-design.md
Due: pnpm run format

feat: integrate antdx
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/antd/affix/__init__.py
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/bubble/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/item/__init__.py
  backend/modelscope_studio/components/antdx/bubble/list/role/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/utils/dev/resolve_frontend_dir.py
  frontend/antdx/bubble/Index.svelte
  frontend/antdx/bubble/bubble.tsx
  frontend/antdx/bubble/gradio.config.js
  frontend/antdx/bubble/list/Index.svelte
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/context.ts
  frontend/antdx/bubble/list/gradio.config.js
  frontend/antdx/bubble/list/item/Index.svelte
  frontend/antdx/bubble/list/item/Item.svelte
  frontend/antdx/bubble/list/item/gradio.config.js
  frontend/antdx/bubble/list/item/package.json
  frontend/antdx/bubble/list/package.json
  frontend/antdx/bubble/list/role/Index.svelte
  frontend/antdx/bubble/list/role/Role.svelte
  frontend/antdx/bubble/list/role/gradio.config.js
  frontend/antdx/bubble/list/role/package.json
  frontend/antdx/bubble/package.json
  frontend/package.json
  frontend/plugin.js
  frontend/svelte-preprocess-react/inject.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(antdx): bubble
  backend/modelscope_studio/components/antdx/bubble/list/item/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antdx/bubble/list/Index.svelte
  frontend/antdx/bubble/list/bubble.list.tsx
  frontend/antdx/bubble/list/context.ts
  frontend/antdx/bubble/list/item/Index.svelte
  frontend/antdx/bubble/list/item/Item.svelte
  frontend/antdx/bubble/list/item/bubble.list.item.tsx
  frontend/antdx/bubble/list/role/Index.svelte
  frontend/antdx/bubble/list/role/Role.svelte
  frontend/antdx/bubble/list/role/bubble.list.role.tsx
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/svelte-preprocess-react/react-slot.tsx
  frontend/utils/createItemsContext2.tsx
  frontend/utils/renderItems.tsx
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(antdx): welcome & prompts
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/prompts/__init__.py
  backend/modelscope_studio/components/antdx/prompts/item/__init__.py
  backend/modelscope_studio/components/antdx/welcome/__init__.py
  frontend/antdx/conversations/conversations.tsx
  frontend/antdx/prompts/Index.svelte
  frontend/antdx/prompts/context.ts
  frontend/antdx/prompts/gradio.config.js
  frontend/antdx/prompts/item/Index.svelte
  frontend/antdx/prompts/item/gradio.config.js
  frontend/antdx/prompts/item/package.json
  frontend/antdx/prompts/item/prompts.item.tsx
  frontend/antdx/prompts/package.json
  frontend/antdx/prompts/prompts.tsx
  frontend/antdx/welcome/Index.svelte
  frontend/antdx/welcome/gradio.config.js
  frontend/antdx/welcome/package.json
  frontend/antdx/welcome/welcome.tsx
  pyproject.toml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(antdx): thought-chain
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/conversations/__init__.py
  backend/modelscope_studio/components/antdx/thought_chain/__init__.py
  backend/modelscope_studio/components/antdx/thought_chain/item/__init__.py
  frontend/antdx/thought-chain/Index.svelte
  frontend/antdx/thought-chain/context.ts
  frontend/antdx/thought-chain/gradio.config.js
  frontend/antdx/thought-chain/item/Index.svelte
  frontend/antdx/thought-chain/item/gradio.config.js
  frontend/antdx/thought-chain/item/package.json
  frontend/antdx/thought-chain/item/thought-chain.item.tsx
  frontend/antdx/thought-chain/package.json
  frontend/antdx/thought-chain/thought-chain.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(antdx): x-provider
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  backend/modelscope_studio/components/antdx/suggestion/__init__.py
  backend/modelscope_studio/components/antdx/x_provider/__init__.py
  frontend/antd/config-provider/config-provider.tsx
  frontend/antdx/x-provider/Index.svelte
  frontend/antdx/x-provider/XProvider.svelte
  frontend/antdx/x-provider/gradio.config.js
  frontend/antdx/x-provider/package.json
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: card meta
  frontend/antd/card/meta/card.meta.tsx
  pyproject.toml
Due: pnpm run format, pnpm run lint:js

fix: children
  backend/modelscope_studio/components/antd/empty/__init__.py
  docs/app.py
  frontend/antd/alert/alert.tsx
  frontend/antd/alert/error-boundary/alert.error-boundary.tsx
  frontend/antd/calendar/calendar.tsx
  frontend/antd/empty/empty.tsx
  frontend/antd/image/image.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/brown-trains-flow.md
  .changeset/funny-singers-exercise.md
  frontend/antdx/package.json
  pnpm-workspace.yaml
Due: pnpm run format

chore: update versions
  .changeset/brown-trains-flow.md
  .changeset/flat-ways-sin.md
  .changeset/funny-singers-exercise.md
  .changeset/large-terms-design.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/components/antd/list/demos/basic.py
  docs/components/antd/transfer/demos/basic.py
  docs/components/base/markdown/README.md
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: update site style
  docs/helper/Site.py
  docs/src/pyproject.toml
  pyproject.toml
Due: pnpm run lint:py

Fix type declaration error or antd.Slider.value
  backend/modelscope_studio/components/antd/slider/__init__.py
Due: pnpm run lint:py

feat(templates): coder artifacts
  backend/modelscope_studio/components/base/application/__init__.py
  docs/app.py
  docs/helper/Docs.py
  docs/helper/Site.py
  docs/helper/parse_markdown.py
  docs/layout_templates/coder_artifacts/README-zh_CN.md
  docs/layout_templates/coder_artifacts/README.md
  docs/layout_templates/coder_artifacts/app.py
  docs/layout_templates/coder_artifacts/demos/app.py
  docs/requirements.txt
  frontend/base/application/Application.svelte
  frontend/base/markdown/index.less
  frontend/base/markdown/markdown.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

Path conditions:
  pnpm run lint:style: any of: *.{less,css}
  pnpm run format: ((any of: *.{less,css}) or (any of: *.{js,jsx,ts,tsx,svelte})) or (any of: *.{md,yaml,yml,json,html})
  pnpm run lint:js: any of: *.{js,jsx,ts,tsx,svelte}
  pnpm run lint:py: any of: *.py
