Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: update
  README-zh_CN.md
Due: pnpm run format

feat: thought message => tool message
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  frontend/pro/chatbot/message.tsx
  frontend/pro/chatbot/messages/tool.tsx
  frontend/pro/chatbot/type.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: update
  README-zh_CN.md
  README.md
  frontend/pro/chatbot/messages/tool.tsx
  resources/chatbot-template.png
  resources/coder-artifacts-template.png
  resources/site.png
Due: pnpm run format, pnpm run lint:js

chore: add changeset
  .changeset/long-impalas-rush.md
Due: pnpm run format

fix: lost the previous files when uploading a file for antd `Upload`
  .changeset/grumpy-animals-drum.md
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
Due: pnpm run format, pnpm run lint:js

docs: update
  resources/site.png
Due: none

fix: the logic of uploading files
  .changeset/shaggy-pets-knock.md
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/app.py
  docs/layout_templates/chatbot/demos/app.py
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/conversations/conversations.tsx
  frontend/pro/multimodal-input/multimodal-input.tsx
  frontend/pro/multimodal-input/recorder.ts
  frontend/pro/multimodal-input/utils.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: scroll logic
  backend/modelscope_studio/components/base/markdown/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot.less
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/message.tsx
  frontend/pro/chatbot/messages/tool.tsx
  frontend/pro/chatbot/type.ts
  frontend/pro/chatbot/utils.ts
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: scroll
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/message.tsx
Due: pnpm run format, pnpm run lint:js

fix: footer
  frontend/pro/chatbot/chatbot-footer.tsx
Due: pnpm run format, pnpm run lint:js

feat: support custom components of table
  .changeset/tall-clowns-battle.md
  frontend/antd/table/table.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
Due: pnpm run format, pnpm run lint:js

fix: column render
  backend/modelscope_studio/components/antd/table/__init__.py
  backend/modelscope_studio/components/antd/table/column/__init__.py
  frontend/antd/table/column/Index.svelte
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update deps
  config/changelog/package.json
  config/lint-config/package.json
  frontend/base/each/Index.svelte
  frontend/legacy/Chatbot/shared/ChatBot.svelte
  frontend/legacy/Flow/Awaited.svelte
  frontend/legacy/MultimodalInput/Awaited.svelte
  frontend/legacy/MultimodalInput/shared/AudioRecorder.svelte
  frontend/legacy/MultimodalInput/shared/FilePreview.svelte
  frontend/legacy/MultimodalInput/shared/UploadButton.svelte
  frontend/legacy/MultimodalInput/shared/Webcam.svelte
  frontend/legacy/WaterfallGallery/shared/Gallery.svelte
  frontend/package.json
  frontend/svelte-preprocess-react/sveltify.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

fix: disabled status of multimodal input
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js

docs: pro components
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/app.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/chatbot/app.py
  docs/components/pro/chatbot/demos/basic.py
  docs/components/pro/chatbot/demos/chatbot_config.py
  docs/components/pro/chatbot/demos/message_config.py
  docs/components/pro/chatbot/demos/multimodal.py
  docs/components/pro/chatbot/demos/thinking.py
  docs/components/pro/chatbot/resources/scenery.jpeg
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  docs/components/pro/multimodal_input/app.py
  docs/components/pro/multimodal_input/demos/basic.py
  docs/components/pro/multimodal_input/demos/extra_button.py
  docs/components/pro/multimodal_input/demos/upload_config.py
  docs/components/pro/multimodal_input/demos/with_chatbot.py
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/type.ts
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: disabled actions
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/basic.py
  docs/layout_templates/chatbot/demos/fine_grained_control.py
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/type.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/rich-zoos-vanish.md
Due: pnpm run format

chore: add changeset
  .changeset/loud-apples-lead.md
Due: pnpm run format

docs: pro components (#66)
  .changeset/loud-apples-lead.md
  .changeset/rich-zoos-vanish.md
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/app.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/chatbot/app.py
  docs/components/pro/chatbot/demos/basic.py
  docs/components/pro/chatbot/demos/chatbot_config.py
  docs/components/pro/chatbot/demos/message_config.py
  docs/components/pro/chatbot/demos/multimodal.py
  docs/components/pro/chatbot/demos/thinking.py
  docs/components/pro/chatbot/resources/scenery.jpeg
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  docs/components/pro/multimodal_input/app.py
  docs/components/pro/multimodal_input/demos/basic.py
  docs/components/pro/multimodal_input/demos/extra_button.py
  docs/components/pro/multimodal_input/demos/upload_config.py
  docs/components/pro/multimodal_input/demos/with_chatbot.py
  docs/layout_templates/chatbot/README-zh_CN.md
  docs/layout_templates/chatbot/README.md
  docs/layout_templates/chatbot/demos/basic.py
  docs/layout_templates/chatbot/demos/fine_grained_control.py
  frontend/pro/chatbot/chatbot-footer.tsx
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/type.ts
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: changeset
  .changeset/loud-apples-lead.md
Due: pnpm run format

chore: update versions
  .changeset/loud-apples-lead.md
  .changeset/rich-zoos-vanish.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

docs: fix token
  docs/components/pro/chatbot/demos/multimodal.py
  docs/components/pro/chatbot/demos/thinking.py
  docs/layout_templates/coder_artifacts/demos/app.py
Due: pnpm run lint:py

fix: upload uid
  docs/components/pro/chatbot/demos/chatbot_config.py
  docs/components/pro/chatbot/demos/multimodal.py
  docs/components/pro/chatbot/demos/thinking.py
  docs/layout_templates/chatbot/demos/basic.py
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
  frontend/antdx/attachments/attachments.tsx
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: useScroll
  frontend/pro/chatbot/hooks/useScroll.ts
Due: pnpm run format, pnpm run lint:js

feat: add file_type property for Webcam
  frontend/legacy/MultimodalInput/shared/Webcam.svelte
Due: pnpm run format, pnpm run lint:js

chore: add changeset
  .changeset/orange-insects-float.md
  .changeset/social-tips-create.md
Due: pnpm run format

feat: add preview button to Chatbot file message
  .changeset/gold-drinks-stick.md
  .changeset/social-tips-create.md
  frontend/pro/chatbot/chatbot.less
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/messages/file.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

feat: add chatbot `Scroll To Bottom` button configuration
  .changeset/tired-crabs-vanish.md
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add support for `mermaid.js` in `Markdown` component
  .changeset/sharp-mails-start.md
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

feat: error handler for `mermaid.js`
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
Due: pnpm run format, pnpm run lint:js

feat: error handler
  frontend/globals/components/markdown/utils.ts
Due: pnpm run format, pnpm run lint:js

feat: add preview button to Chatbot file message & support `mermaid` in Markdown component (#67)
  .changeset/gold-drinks-stick.md
  .changeset/orange-insects-float.md
  .changeset/sharp-mails-start.md
  .changeset/social-tips-create.md
  .changeset/tired-crabs-vanish.md
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/chatbot/demos/chatbot_config.py
  docs/components/pro/chatbot/demos/multimodal.py
  docs/components/pro/chatbot/demos/thinking.py
  docs/layout_templates/chatbot/demos/basic.py
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
  frontend/antdx/attachments/attachments.tsx
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/legacy/MultimodalInput/shared/Webcam.svelte
  frontend/package.json
  frontend/pro/chatbot/chatbot.less
  frontend/pro/chatbot/chatbot.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/pro/chatbot/messages/file.tsx
  frontend/pro/multimodal-input/multimodal-input.tsx
  pnpm-lock.yaml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: twice rendering of ConfigProvider
  .changeset/fast-nails-unite.md
  frontend/antd/config-provider/config-provider.tsx
  frontend/antd/config-provider/locales.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/svelte-preprocess-react/inject.ts
  frontend/utils/tick.ts
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/fast-nails-unite.md
  .changeset/gold-drinks-stick.md
  .changeset/orange-insects-float.md
  .changeset/sharp-mails-start.md
  .changeset/social-tips-create.md
  .changeset/tired-crabs-vanish.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: update
  .changeset/five-baboons-hide.md
  .changeset/poor-views-beam.md
  .changeset/rotten-cars-buy.md
  .changeset/smart-keys-drop.md
  backend/modelscope_studio/components/antd/button/__init__.py
  backend/modelscope_studio/components/antd/modal/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  frontend/antd/form/form.tsx
  frontend/antd/modal/modal.tsx
  frontend/base/auto-loading/auto-loading.tsx
  frontend/base/each/each.tsx
  frontend/pro/chatbot/hooks/useScroll.ts
  frontend/svelte-preprocess-react/internal/Bridge.ts
  frontend/svelte-preprocess-react/react-slot.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: update deps
  .changeset/two-glasses-jog.md
  .vscode/settings.json
  backend/modelscope_studio/components/antdx/attachments/__init__.py
  backend/modelscope_studio/components/antdx/attachments/file_card/__init__.py
  backend/modelscope_studio/components/antdx/conversations/__init__.py
  backend/modelscope_studio/components/antdx/sender/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/attachments/file-card/Index.svelte
  frontend/antdx/attachments/file-card/attachments.file-card.tsx
  frontend/antdx/attachments/file-card/file-card.tsx
  frontend/antdx/conversations/conversations.tsx
  frontend/antdx/sender/sender.tsx
  frontend/globals/components/markdown/markdown.less
  frontend/legacy/WaterfallGallery/Index.svelte
  frontend/legacy/WaterfallGallery/shared/Gallery.svelte
  frontend/legacy/compiled/package.json
  frontend/legacy/compiled/src/Markdown/index.less
  frontend/package.json
  frontend/pro/chatbot/chatbot.less
  frontend/pro/chatbot/messages/file.tsx
  frontend/pro/chatbot/type.ts
  frontend/pro/multimodal-input/Index.svelte
  frontend/pro/multimodal-input/multimodal-input.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: allow custom tags for markdown
  .changeset/small-glasses-boil.md
  backend/modelscope_studio/components/base/markdown/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/base/filter/demos/basic.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  frontend/globals/components/markdown/html-tags.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

Path conditions:
  pnpm run lint:style: any of: *.{less,css}
  pnpm run format: ((any of: *.{less,css}) or (any of: *.{js,jsx,ts,tsx,svelte})) or (any of: *.{md,yaml,yml,json,html})
  pnpm run lint:js: any of: *.{js,jsx,ts,tsx,svelte}
  pnpm run lint:py: any of: *.py
