Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

chore: release
  backend/modelscope_studio/components/Chatbot/__init__.py
  pyproject.toml
Due: pnpm run lint:py

chore: add python linter & integrate github action (#3)
  .flake8
  .github/workflows/lint.yaml
  .lintstagedrc
  backend/modelscope_studio/components/Chatbot/__init__.py
  backend/modelscope_studio/components/Markdown/__init__.py
  backend/modelscope_studio/components/MultimodalInput/__init__.py
  docs/components/Chatbot/demos/accordion.py
  docs/components/Chatbot/demos/basic.py
  docs/components/Chatbot/demos/message_config.py
  docs/components/Chatbot/demos/multi_bots.py
  docs/components/Chatbot/demos/multimodal.py
  docs/components/Docs.py
  docs/components/Markdown/demos/accordion.py
  docs/components/Markdown/demos/basic.py
  docs/components/Markdown/demos/custom-tag.py
  docs/components/Markdown/demos/custom-tag2.py
  docs/components/Markdown/demos/custom-tag3.py
  docs/components/Markdown/demos/custom-tag4.py
  docs/components/Markdown/demos/custom_tags/accordion/accordion-title.py
  docs/components/Markdown/demos/custom_tags/accordion/basic.py
  docs/components/Markdown/demos/custom_tags/select-box/basic.py
  docs/components/Markdown/demos/custom_tags/select-box/card_shape.py
  docs/components/Markdown/demos/custom_tags/select-box/card_shape_width_auto.py
  docs/components/Markdown/demos/custom_tags/select-box/python_events.py
  docs/components/Markdown/demos/multimodal.py
  docs/components/Markdown/demos/select-box.py
  docs/components/MultimodalInput/demos/basic.py
  docs/components/MultimodalInput/demos/config_buttons.py
  docs/components/MultimodalInput/demos/upload_sources.py
  docs/components/MultimodalInput/demos/with_chatbot.py
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: message elem id & classes
  .gitignore
  backend/modelscope_studio/components/Chatbot/__init__.py
  docs/.gitattributes
  docs/Dockerfile
  docs/README.md
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Chatbot/shared/utils.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add chabot message pending
  backend/modelscope_studio/components/Chatbot/__init__.py
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Chatbot/shared/Pending.svelte
  frontend/compiled/src/Markdown/components/custom/SelectBox.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add chabot message pending (#5)
  backend/modelscope_studio/components/Chatbot/__init__.py
  frontend/Chatbot/shared/ChatBot.svelte
  frontend/Chatbot/shared/Pending.svelte
  frontend/compiled/src/Markdown/components/custom/SelectBox.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat(WaterfallGallery): create WaterfallGallery component
  backend/modelscope_studio/__init__.py
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/WaterfallGallery/index.svelte
  frontend/WaterfallGallery/package.json
  frontend/WaterfallGallery/shared/Dislike.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
  frontend/WaterfallGallery/shared/Image.svelte
  frontend/WaterfallGallery/shared/Waterfall/createWaterfall.ts
  frontend/WaterfallGallery/shared/Waterfall/index.ts
  frontend/WaterfallGallery/shared/Waterfall/layout.ts
  frontend/WaterfallGallery/shared/utils.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: load_more event & waterfall layout
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/WaterfallGallery/index.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
  frontend/WaterfallGallery/shared/Waterfall/createWaterfall.ts
  frontend/WaterfallGallery/shared/Waterfall/layout.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: remove show_progress prop
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/WaterfallGallery/index.svelte
  frontend/compiled/src/Markdown/components/Heading.tsx
  frontend/compiled/src/Markdown/index.less
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: replace loader with load more button
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/WaterfallGallery/index.svelte
  frontend/WaterfallGallery/package.json
  frontend/WaterfallGallery/shared/Gallery.svelte
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:py

fix: show loader when the loading status is pending
  backend/modelscope_studio/components/WaterfallGallery/__init__.py
  frontend/WaterfallGallery/index.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
Due: pnpm run lint:py

docs: add WaterfallGallery docs
  docs/README.md
  docs/app.py
  docs/components/Chatbot/README-zh_CN.md
  docs/components/Chatbot/README.md
  docs/components/Markdown/README-zh_CN.md
  docs/components/Markdown/README.md
  docs/components/WaterfallGallery/README-zh_CN.md
  docs/components/WaterfallGallery/README.md
  docs/components/WaterfallGallery/app.py
  docs/components/WaterfallGallery/demos/basic.py
  docs/components/WaterfallGallery/demos/like_click_feedback.py
  docs/components/WaterfallGallery/demos/load_more.py
  docs/components/WaterfallGallery/demos/responsive_columns.py
  docs/components/resources/bot2.jpeg
Due: pnpm run format, pnpm run lint:py

chore: 🚀 WaterfallGallery
  README-ja_JP.md
  README-zh_CN.md
  README.md
Due: pnpm run format

fix: normalise file
  docs/components/WaterfallGallery/demos/basic.py
  docs/components/WaterfallGallery/demos/like_click_feedback.py
  docs/components/WaterfallGallery/demos/load_more.py
  docs/components/WaterfallGallery/demos/responsive_columns.py
  docs/components/resources/bot2.jpeg
  docs/components/resources/modelscope.svg
  frontend/WaterfallGallery/index.svelte
  frontend/WaterfallGallery/shared/Gallery.svelte
Due: pnpm run lint:py

chore: release
  docs/requirements.txt
  docs/src/pyproject.toml
  pyproject.toml
Due: none

ci: integrate changeset & add changelog (#1)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  config/changelog/package.json
  config/changelog/src/fix-changelog.ts
  config/changelog/src/index.ts
  config/changelog/src/type.ts
  config/changelog/tsconfig.json
  config/changelog/tsup.config.ts
  config/lint-config/eslint.js
  config/lint-config/package.json
  config/lint-config/stylelint.js
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

fix: ci build
  .github/workflows/publish.yaml
  package.json
Due: pnpm run format

fix: ci
  .github/workflows/publish.yaml
  frontend/Markdown/index.svelte
Due: pnpm run format

fix: Markdown file
  frontend/Markdown/Index.svelte
Due: none

fix: WaterfallGallery file
  frontend/WaterfallGallery/index copy.svelte
Due: none

fix: WaterfallGallery file
  frontend/WaterfallGallery/Index.svelte
Due: none

fix: ci
  .github/workflows/publish.yaml
Due: pnpm run format

chore: test changeset action
  .changeset/shaggy-masks-wonder.md
  package.json
Due: pnpm run format

fix: test changeset action
  .changeset/kind-zebras-sort.md
Due: pnpm run format

feat: publish action
  .github/workflows/publish.yaml
Due: pnpm run format

feat: test
  .changeset/silly-buttons-pull.md
Due: pnpm run format

fix: changelog
  config/changelog/src/fix-changelog.ts
Due: pnpm run format, pnpm run lint:js

fix: changelog bump version
  config/changelog/src/fix-changelog.ts
Due: pnpm run format, pnpm run lint:js

chore: update github action to create git tag
  .changeset/light-apples-hear.md
  .github/workflows/publish.yaml
  package.json
  scripts/create-tag.sh
Due: pnpm run format

fix: ci publish script
  .github/workflows/publish.yaml
  package.json
  pnpm-lock.yaml
  scripts/create-tag-n-release.ts
  scripts/create-tag.sh
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

ci: add script to publish to pypi
  .changeset/silver-bobcats-shout.md
  .github/workflows/publish.yaml
  config/changelog/src/fix-changelog.ts
  config/changelog/src/index.ts
  package.json
  pnpm-lock.yaml
  scripts/create-tag-n-release.ts
  scripts/publish-to-pypi.ts
Due: pnpm run format, pnpm run lint:js

chore: remove test changeset files
  .changeset/kind-zebras-sort.md
  .changeset/light-apples-hear.md
  .changeset/shaggy-masks-wonder.md
  .changeset/silly-buttons-pull.md
  .changeset/silver-bobcats-shout.md
Due: pnpm run format

fix: commit type parser of changelog
  config/changelog/src/index.ts
Due: pnpm run format, pnpm run lint:js

chore(ci): integrate changeset & add github action to publish (#7)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  config/changelog/package.json
  config/changelog/src/fix-changelog.ts
  config/changelog/src/index.ts
  config/changelog/src/type.ts
  config/changelog/tsconfig.json
  config/changelog/tsup.config.ts
  config/lint-config/eslint.js
  config/lint-config/package.json
  config/lint-config/stylelint.js
  frontend/Chatbot/package.json
  frontend/Markdown/Index.svelte
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/Index.svelte
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/create-tag-n-release.ts
  scripts/publish-to-pypi.ts
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

fix: ci process
  .github/workflows/publish.yaml
  package.json
  pnpm-lock.yaml
  scripts/create-tag-n-release.ts
  scripts/publish-to-pypi.ts
Due: pnpm run format, pnpm run lint:js

fix: chatbot blink animation
  config/changelog/package.json
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/Chatbot/package.json
  frontend/Markdown/package.json
  frontend/MultimodalInput/package.json
  frontend/WaterfallGallery/package.json
  frontend/compiled/package.json
  frontend/compiled/src/Markdown/index.less
  package.json
  pyproject.toml
Due: pnpm run lint:style, pnpm run format
