Repository modelscope/modelscope-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

.lintstagedrc:

{
  "*.{less,css}": ["pnpm run lint:style", "pnpm run format"],
  "*.{js,jsx,ts,tsx,svelte}": ["pnpm run lint:js", "pnpm run format"],
  "*.{md,yaml,yml,json,html}": ["pnpm run format"],
  "*.py": ["pnpm run lint:py"]
}

fix: class_names for chatbot config
  .changeset/sharp-rivers-watch.md
  frontend/globals/components/markdown/html-tags.ts
  frontend/globals/components/markdown/index.tsx
  frontend/globals/components/markdown/utils.ts
  frontend/pro/chatbot/chatbot.tsx
Due: pnpm run format, pnpm run lint:js

fix: upload disabled status
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
  frontend/antdx/attachments/attachments.tsx
  frontend/pro/chatbot/chatbot.less
  frontend/pro/multimodal-input/multimodal-input.tsx
  package.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

fix: footer & actions slot of sender & multimodal-input
  frontend/antdx/sender/sender.tsx
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js

chore: add changeset
  .changeset/cute-forks-see.md
  .changeset/tangy-poets-strive.md
Due: pnpm run format

chore: update docs
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: changeset
  .changeset/cute-forks-see.md
Due: pnpm run format

fix: disabled status for uploadable components (#69)
  .changeset/cute-forks-see.md
  .changeset/tangy-poets-strive.md
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  frontend/antd/upload/dragger/upload.dragger.tsx
  frontend/antd/upload/upload.tsx
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/sender/sender.tsx
  frontend/pro/chatbot/chatbot.less
  frontend/pro/multimodal-input/multimodal-input.tsx
  package.json
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/cute-forks-see.md
  .changeset/tangy-poets-strive.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: add default support for inline math
  .changeset/every-peas-lie.md
  backend/modelscope_studio/components/base/markdown/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  frontend/globals/components/markdown/index.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: add default support for inline math (#70)
  .changeset/every-peas-lie.md
  backend/modelscope_studio/components/base/markdown/__init__.py
  backend/modelscope_studio/components/pro/chatbot/__init__.py
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  frontend/globals/components/markdown/index.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: update deps
  .changeset/early-lies-bet.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antdx/attachments/attachments.tsx
  frontend/antdx/attachments/file-card/file-card.tsx
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/plugin.js
  frontend/pro/multimodal-input/multimodal-input.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm run format, pnpm run lint:js

feat(wip): new component WebSandbox
  backend/modelscope_studio/components/pro/__init__.py
  backend/modelscope_studio/components/pro/components.py
  backend/modelscope_studio/components/pro/web_sandbox/__init__.py
  frontend/package.json
  frontend/pro/web-sandbox/Index.svelte
  frontend/pro/web-sandbox/gradio.config.js
  frontend/pro/web-sandbox/package.json
  frontend/pro/web-sandbox/parser.ts
  frontend/pro/web-sandbox/react-iframe-template.html
  frontend/pro/web-sandbox/utils.ts
  frontend/pro/web-sandbox/web-sandbox.less
  frontend/pro/web-sandbox/web-sandbox.tsx
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: bugfix of WebSandbox
  backend/modelscope_studio/components/pro/web_sandbox/__init__.py
  frontend/fixtures.d.ts
  frontend/globals/components/markdown/sanitize.ts
  frontend/globals/components/markdown/utils.ts
  frontend/pro/web-sandbox/Index.svelte
  frontend/pro/web-sandbox/html-iframe-event-listener.js
  frontend/pro/web-sandbox/parser.ts
  frontend/pro/web-sandbox/react-iframe-template.html
  frontend/pro/web-sandbox/utils.ts
  frontend/pro/web-sandbox/web-sandbox.tsx
  frontend/utils/walkHtmlNodes.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

docs: add docs for WebSandbox
  backend/modelscope_studio/components/pro/web_sandbox/__init__.py
  docs/app.py
  docs/components/antd/breadcrumb/demos/basic.py
  docs/components/base/application/README-zh_CN.md
  docs/components/base/application/README.md
  docs/components/base/each/README-zh_CN.md
  docs/components/base/each/README.md
  docs/components/base/filter/README-zh_CN.md
  docs/components/base/filter/README.md
  docs/components/base/slot/README-zh_CN.md
  docs/components/base/slot/README.md
  docs/components/pro/chatbot/README-zh_CN.md
  docs/components/pro/chatbot/README.md
  docs/components/pro/web_sandbox/README-zh_CN.md
  docs/components/pro/web_sandbox/README.md
  docs/components/pro/web_sandbox/app.py
  docs/components/pro/web_sandbox/demos/error_handling.py
  docs/components/pro/web_sandbox/demos/html.py
  docs/components/pro/web_sandbox/demos/react.py
  frontend/pro/web-sandbox/web-sandbox.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: add changeset
  .changeset/chilly-beers-shine.md
Due: pnpm run format

fix: style of conversations
  docs/layout_templates/chatbot/demos/basic.py
  docs/layout_templates/chatbot/demos/fine_grained_control.py
  frontend/antdx/conversations/conversations.tsx
  frontend/antdx/conversations/index.less
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/chilly-beers-shine.md
  .changeset/early-lies-bet.md
  .changeset/every-peas-lie.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: add block mode support for `MultimodalInput`
  .changeset/salty-ants-yell.md
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  docs/components/pro/multimodal_input/demos/block_mode.py
  docs/components/pro/multimodal_input/demos/upload_config.py
  frontend/pro/multimodal-input/multimodal-input.less
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: button style when use `Radio` in `Radio.Group`
  .changeset/breezy-eagles-dress.md
  frontend/antd/radio/radio.less
  frontend/antd/radio/radio.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

fix: stylelint
  config/lint-config/stylelint.js
  frontend/legacy/compiled/src/Markdown/index.less
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js

feat: add block mode support for `MultimodalInput` (#74)
  .changeset/breezy-eagles-dress.md
  .changeset/salty-ants-yell.md
  backend/modelscope_studio/components/pro/multimodal_input/__init__.py
  config/lint-config/stylelint.js
  docs/components/pro/multimodal_input/README-zh_CN.md
  docs/components/pro/multimodal_input/README.md
  docs/components/pro/multimodal_input/demos/block_mode.py
  docs/components/pro/multimodal_input/demos/upload_config.py
  frontend/antd/radio/radio.less
  frontend/antd/radio/radio.tsx
  frontend/legacy/compiled/src/Markdown/index.less
  frontend/pro/multimodal-input/multimodal-input.less
  frontend/pro/multimodal-input/multimodal-input.tsx
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/breezy-eagles-dress.md
  .changeset/salty-ants-yell.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: locale type for antd ConfigProvider
  .changeset/tired-pandas-vanish.md
  backend/modelscope_studio/components/antd/config_provider/__init__.py
  backend/modelscope_studio/components/antdx/x_provider/__init__.py
Due: pnpm run format, pnpm run lint:py

Update process_links.py
  backend/modelscope_studio/utils/dev/process_links.py
Due: pnpm run lint:py

Create smooth-timers-complain.md
  .changeset/smooth-timers-complain.md
Due: pnpm run format

fix: update process_links.py (#76)
  .changeset/smooth-timers-complain.md
  backend/modelscope_studio/utils/dev/process_links.py
Due: pnpm run format, pnpm run lint:py

chore: update deps
  .changeset/forty-dragons-heal.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antdx/bubble/bubble.tsx
  frontend/antdx/bubble/list/item/Item.svelte
  frontend/antdx/bubble/list/utils.tsx
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/utils/patchSlots.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

chore: update deps (#77)
  .changeset/chilly-beers-shine.md
  .changeset/early-lies-bet.md
  .changeset/forty-dragons-heal.md
  config/changelog/package.json
  config/lint-config/package.json
  frontend/antdx/bubble/bubble.tsx
  frontend/antdx/bubble/list/item/Item.svelte
  frontend/antdx/bubble/list/utils.tsx
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/utils/patchSlots.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:js

chore: update versions
  .changeset/chilly-beers-shine.md
  .changeset/early-lies-bet.md
  .changeset/forty-dragons-heal.md
  .changeset/smooth-timers-complain.md
  .changeset/tired-pandas-vanish.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

feat: upgrade to antd 5.26.0, antdx 1.4.0
  .changeset/clean-corners-reply.md
  backend/modelscope_studio/components/antd/table/expandable/__init__.py
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/actions/__init__.py
  backend/modelscope_studio/components/antdx/actions/item/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/app.py
  docs/components/antdx/actions/README-zh_CN.md
  docs/components/antdx/actions/README.md
  docs/components/antdx/actions/app.py
  docs/components/antdx/actions/demos/basic.py
  docs/helper/Site.py
  docs/src/pyproject.toml
  frontend/antdx/actions/Index.svelte
  frontend/antdx/actions/actions.tsx
  frontend/antdx/actions/context.ts
  frontend/antdx/actions/gradio.config.js
  frontend/antdx/actions/item/Index.svelte
  frontend/antdx/actions/item/actions.item.tsx
  frontend/antdx/actions/item/gradio.config.js
  frontend/antdx/actions/item/package.json
  frontend/antdx/actions/package.json
  frontend/antdx/conversations/index.less
  frontend/package.json
  frontend/pro/multimodal-input/multimodal-input.less
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: lint
  backend/modelscope_studio/components/antdx/actions/__init__.py
  frontend/antdx/actions/actions.tsx
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

feat: upgrade to antd 5.26.0, antdx 1.4.0 (#78)
  .changeset/clean-corners-reply.md
  backend/modelscope_studio/components/antd/table/expandable/__init__.py
  backend/modelscope_studio/components/antdx/__init__.py
  backend/modelscope_studio/components/antdx/actions/__init__.py
  backend/modelscope_studio/components/antdx/actions/item/__init__.py
  backend/modelscope_studio/components/antdx/components.py
  config/changelog/package.json
  config/lint-config/package.json
  docs/app.py
  docs/components/antdx/actions/README-zh_CN.md
  docs/components/antdx/actions/README.md
  docs/components/antdx/actions/app.py
  docs/components/antdx/actions/demos/basic.py
  docs/helper/Site.py
  docs/src/pyproject.toml
  frontend/antdx/actions/Index.svelte
  frontend/antdx/actions/actions.tsx
  frontend/antdx/actions/context.ts
  frontend/antdx/actions/gradio.config.js
  frontend/antdx/actions/item/Index.svelte
  frontend/antdx/actions/item/actions.item.tsx
  frontend/antdx/actions/item/gradio.config.js
  frontend/antdx/actions/item/package.json
  frontend/antdx/actions/package.json
  frontend/antdx/conversations/index.less
  frontend/package.json
  frontend/pro/multimodal-input/multimodal-input.less
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: pnpm run lint:style, pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/clean-corners-reply.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/helper/Site.py
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py

fix: iconfont provider & add support for custom user icons
  .changeset/little-ideas-greet.md
  .changeset/purple-melons-dance.md
  backend/modelscope_studio/components/antd/icon/__init__.py
  docs/components/antd/icon/demos/basic.py
  frontend/antd/icon/Index.svelte
  frontend/antd/icon/icon.tsx
  frontend/antd/icon/iconfont-provider/context.ts
  frontend/antd/icon/iconfont-provider/iconfont-provider.tsx
  frontend/svelte-preprocess-react/context.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

fix: iconfont provider & add support for custom user icons (#79)
  .changeset/little-ideas-greet.md
  .changeset/purple-melons-dance.md
  backend/modelscope_studio/components/antd/icon/__init__.py
  docs/components/antd/icon/demos/basic.py
  frontend/antd/icon/Index.svelte
  frontend/antd/icon/icon.tsx
  frontend/antd/icon/iconfont-provider/context.ts
  frontend/antd/icon/iconfont-provider/iconfont-provider.tsx
  frontend/svelte-preprocess-react/context.ts
Due: pnpm run format, pnpm run lint:js, pnpm run lint:py

chore: update versions
  .changeset/little-ideas-greet.md
  .changeset/purple-melons-dance.md
  CHANGELOG.md
  backend/modelscope_studio/version.py
  config/changelog/CHANGELOG.md
  config/changelog/package.json
  config/lint-config/CHANGELOG.md
  config/lint-config/package.json
  docs/requirements.txt
  docs/src/pyproject.toml
  frontend/CHANGELOG.md
  frontend/antd/CHANGELOG.md
  frontend/antd/package.json
  frontend/antdx/CHANGELOG.md
  frontend/antdx/package.json
  frontend/base/CHANGELOG.md
  frontend/base/package.json
  frontend/legacy/Chatbot/CHANGELOG.md
  frontend/legacy/Chatbot/package.json
  frontend/legacy/Flow/CHANGELOG.md
  frontend/legacy/Flow/package.json
  frontend/legacy/Lifecycle/CHANGELOG.md
  frontend/legacy/Lifecycle/package.json
  frontend/legacy/Markdown/CHANGELOG.md
  frontend/legacy/Markdown/package.json
  frontend/legacy/MultimodalInput/CHANGELOG.md
  frontend/legacy/MultimodalInput/package.json
  frontend/legacy/WaterfallGallery/CHANGELOG.md
  frontend/legacy/WaterfallGallery/package.json
  frontend/legacy/compiled/CHANGELOG.md
  frontend/legacy/compiled/package.json
  frontend/package.json
  frontend/pro/CHANGELOG.md
  frontend/pro/package.json
  package.json
  pyproject.toml
Due: pnpm run format, pnpm run lint:py
